<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	$.alopex.page(function() {
		this.init = function(id, param) {
			zcpPopSecretDtlApp.pageInit(param);
		};
	});

	var zcpPopSecretDtlApp = {
		pageInit : function(param) {
			'use strict';
			this.data.init(param);
			this.event.init();
		},
		data : {
			init : function(param) {
				$('#pNamespace').val(param["namespace"]);
				$('#pName').val(param["name"]);
				$('#pType').val(param["type"]);

				if (param["type"] == "Docker Registry") {
					$('#pDrDiv').css('display', '');
					$('#pTLSDiv').css('display', 'none');

				} else {
					$('#pDrDiv').css('display', 'none');
					$('#pTLSDiv').css('display', '');
				}
				$('#name').text(param["name"]);
				$('#type').text(param["type"]);
			},
			validation : function() {
			}
		},
		event : {
			init : function() {
				$('#popCancel').on('click', function() {
					$a.close('cancel');
				});
			}
		}
	}
</script>
</head>
<body>
	<div>
		<p
			style="padding: 20px 0 0 20px; font-size: 0.93rem; font-family: NotoKrL;">Secret
			정보의 상세내역입니다.</p>
	</div>
	<div class="popup-wrap">
		<div class="popup-contents"
			style="background: #ffffff; height: 200px;">
			<div class="popup-text" id="popMessage">
				<fieldset>
					<form th:id="popForm" onsubmit="return false;"
						enctype="multipart/form-data">
						<input type="hidden" id="pNamespace" name="pNamespace" /> <input
							type="hidden" id="pName" name="pName" /> <input type="hidden"
							id="pType" name="pType" />

						<table class="Table Form-type channel-line">
							<colgroup>
								<col style="width: 190px;" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th style="text-align: left; padding-left: 20px">Secret
										Name<strong class="astertisk">*</strong>
									</th>
									<td><div id="name"></div></td>
								</tr>
								<tr>
									<th style="text-align: left; padding-left: 20px">Secret
										Type</th>
									<td><div id="type"></div></td>
								</tr>
								<!-- <tr>
									<th style="text-align: left; padding-left: 20px">Label</th>
									<td><input class="Textinput Width-100"
										th:id="pLabel" th:name="pLabel"
										maxlength="100" />
									</td>
								</tr> -->
							</tbody>
						</table>
						<div id="pDrDiv">
							<fieldset>
								<table class="Table Form-type channel-line">
									<colgroup>
										<col style="width: 190px;" />
										<col />
									</colgroup>
									<tbody>
										<tr>
											<th>docker-server<strong class="astertisk">*</strong></th>
											<td><div th:text="${server}"></div></td>
										</tr>
										<tr>
											<th>docker-username<strong class="astertisk">*</strong></th>
											<td><div th:text="${username}"></div></td>
										</tr>
										<tr>
											<th>docker-password<strong class="astertisk">*</strong></th>
											<td><div th:text="${password}"></div></td>
										</tr>
										<tr>
											<th>docker-email</th>
											<td><div th:text="${email}"></div></td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</div>
						<div id="pTLSDiv" style="display: none;">
							<fieldset>
								<table class="Table Form-type channel-line">
									<colgroup>
										<col style="width: 190px;" />
										<col />
									</colgroup>
									<tbody>
										<tr>
											<th class="Valign-top">certificate<strong
												class="astertisk">*</strong></th>
											<td><a th:href="@{${crtPath}}"><span
													th:text="${crtFile}"></span></a></td>
										</tr>
										<tr>
											<th class="Valign-top">key<strong class="astertisk">*</strong></th>
											<td><a th:href="@{${keyPath}}"><span
													th:text="${keyFile}"></span></a></td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</div>
					</form>
				</fieldset>
			</div>
		</div>
		<!--button-->
		<div class="popup-btn__wrap" style="background: #ffffff;">
			<button class="Button btn bg-red" id="popCancel">확인</button>
		</div>
		<!--//button-->
	</div>
</body>
</html>