<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<!-- common script -->
<script th:inline="javascript">
var console = window.console || {
    log: function() {
                
    }
};

var contextPath = /*[[@{/}]]*/;
if (contextPath == "/") {
    contextPath = "";
} else {
    contextPath = contextPath + "/"; 
}

$a.request.setup({
	url: function(id, param) {
        return id;
    },
    useServiceId: false,
    //timeout: 30000,
    before: function(id, option) {
        this.requestHeaders["Content-Type"] ="application/json; charset=UTF-8";
        
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        if (token !== undefined) {
            this.requestHeaders[header] = token;
        }
    },
    error: function(errObject) {
               
    }
});

/* $(document).ready(function() {
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
      if (token !== undefined) {
        xhr.setRequestHeader(header, token);
      }
    });
    
    $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
        if (jqxhr.status === 401) {
            if (typeof jqxhr.responseJSON === 'object') {
                alert(jqxhr.responseJSON.message);
                return;
            }

            return;
        }

        if (jqxhr.status === 403) {
            alert(errorForbidden);
            $(location).attr('href', contextPath + '/k8s-login');
            return;
        }
    });
}); */

</script>
</head>
</html>