<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<!-- common script -->
<script th:inline="javascript">
var console = window.console || {
    log: function() {
                
    }
};

var contextPath = /*[[@{/}]]*/;
if (contextPath == "/") {
    contextPath = "";
} else {
    contextPath = contextPath + "/"; 
}

// request common
$a.request.setup({
	url: function(id, param) {
        return id;
    },
    useServiceId: false,
    before: function(id, option) {
        this.requestHeaders["Content-Type"] ="application/json; charset=UTF-8";
        
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        if (token !== undefined) {
            this.requestHeaders[header] = token;
        }
    },
    error: function(errObject) {
    	log(JSON.stringify(errObject));
    	commonPopup.alert({message: '[500]시스템 관리자에게 문의하세요.'});
        /* var responseText = JSON.parse(errObject.responseText);

        var status = errObject.status;
        switch(status) {
        case 500:
            commonPopup.alert({message: responseText.message});
            break;
        default:
        	commonPopup.alert({message: '처리 중 오류가 발생하였습니다.<br/>잠시 후 다시 시도하거나 관리자에게 문의하세요.'});
        } */
    }
});

// grid common
AlopexGrid.setup({
	fitTableWidth: true // 테이블의 너비를 그리드 너비에 맞춰 확장시키는 옵션
});

</script>
</head>
</html>