<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
<head>
	<title>CloudZ CP</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<!-- <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
	var g_order= false;
	function deleteNamespace(name){
	    $a.popup({
	        url: "./popNamespaceDel.html",
	        iframe: false,  // default 는 true
	        width: 826,
	        height: 480,
	        title : "Namespace 삭제",
	        data : {namespace : name},
	        callback : function(data){
	        	if(data==name){
	        		ajaxCall('/management/namespace/delete', {namespace:name}).done(function(data){
		    	   		alert('삭제  되었습니다.');
		    	   		location.reload();
	    	   		});		
	        	}else if(data){
	        		alert('네임스페이스명이 다릅니다.');
	        	}
	        },
	        alias: "flag1",
	        xButtonClickCallback : function(el){  // 우측 상단 X 버튼으로 닫을 경우 동작하는 콜백
	            if(el.alias === "flag1"){
	                //if(confirm("저장되지 않은 데이터가 있습니다. 창을 닫으시겠습니까?")){
	                    return true;
	                //} else {
	                //    return false;
	                //}
	            }
	        }
	    });
	}
	
	function ajaxCall(url, data){
		return $.ajax({
			method: 'post',
			contentType : 'application/json;charset=UTF-8',
			url: url,
			data: JSON.stringify(data)
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
        });
	}
	
	function search1(){
		var param = {
			namespace : /*[[${param.namespace}]]*/
			,label : /*[[${param.label}]]*/
			,sortItem : /*[[${param.sortItem}]]*/
			,sortOrder : /*[[${param.sortOrder}]]*/
		};
		var path =  /*[[@{/management/namespaces}]]*/ ;
		var b_order = g_order ?  'true' : 'false';
		var searchText = '';
		searchText += 'namespace=' + $('#search').val() + '&';
		searchText += 'label=' +( !param.label ? '' : param.label) + '&';
		searchText +='sortItem=' + ( !param.sortItem ? '' : param.sortItem)+ '&';
		searchText +='sortOrder='+ b_order ;
		
		location.href=path+'?'+searchText;
	}
	
	
	function orderby(item, own){
		var param = {
				namespace : /*[[${param.namespace}]]*/
				,label : /*[[${param.label}]]*/
				,sortItem : /*[[${param.sortItem}]]*/
				,sortOrder : /*[[${param.sortOrder}]]*/
			};
		var searchText = '';
		var b_order = !g_order ?  'true' : 'false';
		searchText += 'namespace=' + param.namespace[0] + '&';
		searchText += 'label=' +( !param.label ? '' : param.label) + '&'
		searchText +='sortItem=' + item + '&';
		searchText +='sortOrder=' + b_order ;
		g_order =  !g_order;
		var path =  /*[[@{/management/namespaces}]]*/ ;
		location.href=path+'?'+searchText;
	}
	
	function selectLabel(own){
		var param = {
				namespace : /*[[${param.namespace}]]*/
				,label : /*[[${param.label}]]*/
				,sortItem : /*[[${param.sortItem}]]*/
				,sortOrder : /*[[${param.sortOrder}]]*/
			};
		var searchText = '';
		var b_order = g_order ?  'true' : 'false';
		var label = own ? $(own).text() : '';
		var namespace = param.namespace ? param.namespace[0] : '';
		searchText += 'namespace=' + namespace + '&';
		searchText += 'label=' +label + '&'
		searchText +='sortItem=' + ( !param.sortItem ? '' : param.sortItem)+ '&';
		searchText +='sortOrder='+ b_order ;
		
		var path =  /*[[@{/management/namespaces}]]*/ ;
		location.href=path+'?'+searchText;
	}
	
	
	
	$(document).ready(function(){
		var name = /*[[${param.namespace}]]*/;
		$('#search').val(name ? name[0] : '');
		var sortItem = /*[[${param.sortItem}]]*/;
		var sortOrder = /*[[${param.sortOrder}]]*/;
		var label = /*[[${param.label}]]*/
		$.each($('#sort').children(), function(idx, li){
		 $(li).attr('class', 'dsc');
		});
		if(sortOrder && sortOrder[0] == 'true'){
		 $('#'+sortItem[0]).attr('class', '');
		 g_order = true;
		}
		if(label && label[0] != '')
			$.each($('#div_label').find('span'), function(){
				if($(this).text() == label[0]) 
					$(this).removeClass('white').addClass('Default');
			});
		else
			$('#div_label').find('span').eq(0).removeClass('white').addClass('Default');
		
	})	
	//////////////////////////////// grid /////////////////////////////////////////
	function grid_init(data){ 
    	AlopexGrid.setup({
    		fitTableWidth : true // 테이블의 너비를 그리드 너비에 맞춰 확장시키는 옵션
    	});
    	
    	$('#gr').alopexGrid({
    		pager: true,
    		paging: {
    			perPage: 5,
    			pagerCount: 5,
    			pagerSelect: true,
                pagerTotal: true
    		},
            defaultColumnMapping : {
                sorting:true
            },
    		autoColumnIndex: true,
    		columnMapping : [
    			{
    				key : 'name',
    				title : '네임스페이스',
    				width : '100px'
    			}, {
    				key : 'phone',
    				title : 'CPU Req/Limit',
    				width : '100px'
    			}, {
    				key : 'email',
    				title : 'Memory Req/Limit',
    				width : '250px'
    			}, {
    				align : 'center',
    				key : 'birthday',
    				title : '사용자',
    				width : '100px'
    			}, {
    				align : 'center',
    				key : 'zip',
    				title : '상태',
    				width : '100px'
    			}, {
    				align : 'right',
    				key : 'salary',
    				title : '생성일시',
    				width : '100px'
    			}, {
    				key : 'country',
    				title : '관리',
    				width : '200px'
    			}, {
    				key : 'city',
    				title : 'city',
    				width : '150px'
    			}, {
    				key : 'company',
    				title : 'company',
    				width : '200px'
    			}, {
    				key : 'type',
    				align: 'center',
    				title : 'type',
    				width : '50px'
    			}
    		],
    		data: data
    	});
	
	}
	 /*]]>*/
    </script>
</head>
<body>
<div class="cp-wrapper">
	<th:block layout:fragment="content">
	<!-- main-contents -->
	<div class="cp-container">
		<!-- contents -->
		<div class="contents-wrap">
			<div class="locations-area">
				<th:block th:include="common/include/namespace :: common"></th:block>
			</div>
			<div class="contents-box">
				<!-- service top area-->
				<div class="top-area">
                    <h2 class="title">Namespace</h2>
                    <div class="tag-wrap" id="div_label">
                    	<strong class="tag">태그 :</strong>
                    	<temp>
                    		<span class="Label white" onclick="selectLabel()">모든태그</span>
                    	</temp>
                    	<temp th:each="label : ${labels.items} ">
							<span class="Label white" onclick="selectLabel(this)" th:text="${label}"/>
						</temp>
                    </div>
                    <div class="btn-wrap__right">
	                    <button class="Button btn-ico__typeb btn-addnamepace" onclick="location.href='/management/namespace/create'">Namespace 추가</button>
	                    <div class="Tooltip" data-position="left">Namespace 추가</div>
	                </div>
				</div>
				<!-- search-wrap-->
				<div class="search-wrap">
					<input class="Textinput srcinput" placeholder="검색어를 입력하세요." id='search'/><button class="Button btn-search" th:onclick="'search1()'">검색</button>
				</div>
				
				<!--name space detail view-->
				<div class="panel-line__wrap">
					<!-- name space sorting-->
					<div class="namespace-sort">
						<div class="sort-button">
							<button class="Button btn-ico__typeb btn-cardview Checked">카드형으로 보기</button>
							<button class="Button btn-ico__typeb btn-listview">목록형으로 보기</button>
						</div>
						<ul class="sort-list" id="sort">
							<li class="dsc" id="namespace" onclick="orderby('namespace', this)">Namespace</li>
							<li class="dsc" id="cpu" onclick="orderby('cpu', this)">CPU Req/Limit</li>
							<li class="dsc" id="memory" onclick="orderby('memory', this)">Memory Req/Limit</li>
							<li class="dsc" id="user" onclick="orderby('user', this)">사용자</li>
							<li class="dsc" id="status" onclick="orderby('status',  this)">상태</li>
							<li class="dsc" id="createTime" onclick="orderby('createTime', this)">생성일시</li>
						</ul>
					</div>
					<!-- name space panel-->
					<div class="Panel namespace-panel" th:each="namespace : ${namespace.items} ">
	                	<div class="Panel-content">
	                		<span th:class="'state ' + ${active}">active</span>
	                		<dl class="namespace-info">
	                			<dt><a th:href="'/management/namespace/' + ${namespace.namespace}"  th:text="${namespace.namespace}"></a></dt>
	                			<dd>
	                				<div class="tag-wrap">
	                					<temp th:each="label : ${namespace.labels}">
		                					<span class="Label Default" th:text="${label}"></span>
		                					<button class="btn-ico label-del">삭제</button>
										</temp>
	                					<button class="Label add-label">추가</button>
	                				</div>
	                			</dd>
	                			<dd class="time-info"><strong>생성일시</strong> : <span>5시간 전 </span></dd>
	                			<dd>
	                				<div class="namespace-btn__wrap">
			                			<button class="btn-ico btn-viewdash" th:onclick="'location.href=\'/?namespace=' + ${namespace.namespace} + '\';'">대쉬보드보기</button>
			                			<span class="vline"></span>
			                			<button class="btn-ico btn-delnamespace" th:onclick="'deleteNamespace(\'' + ${namespace.namespace} + '\')'">삭제</button>
			                		</div>
			                	</dd>
	                		</dl>
                			<ul class="name-progress__wrap">
                				<li>
                					<p class="name-pro__title">CPU Reg./Limit</p>
                					<span class="name-pro__info" th:text="${namespace.status.used['requests.cpu']} + '/' + ${namespace.status.hard['requests.cpu']}"></span>
                					<div class="Progressbar name-typea" th:attr="data-default=${namespace.usedCpuRate}"></div>
                				</li>
                				<li>
                					<p class="name-pro__title">Memory Reg./Limit</p>
                					<span class="name-pro__info" th:text="${namespace.status.used['requests.memory']} + '/' + ${namespace.status.hard['requests.memory']}"></span>
                					<div class="Progressbar name-typea" th:attr="data-default=${namespace.usedMemoryRate}"></div>
                				</li>
                				<li>
                					<p class="name-pro__title">사용자</p>
                					<span class="name-user__info" th:text="${namespace.userCount}">10</span>
                				</li>
                			</ul>
	                	</div>
	                </div>
	                <!-- panel new make-->
	                <div class="Panel namespace-panel make-box">
	                	<div class="Panel-content">
	                		<a href="/management/namespace/create" class="new-make"><span class="Icon ico-cloudz make-plus"></span>Namespace 추가</a>
	                	</div>
	                </div>
				</div>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //main-contents -->
	</th:block>
</div>
</body>
</html>
