<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>사용자 상세</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <script th:inline="javascript">
        /*<![CDATA[*/
        var namespaces = /*[[${namespaces}]]*/;
        var clusterRoles = /*[[${clusterRoles}]]*/;
        var namespaceRoles = /*[[${namespaceRoles}]]*/;
        var userTotp = /*[[${zcpUser.totp}]]*/;
        var requiredActions = /*[[${zcpUser.requiredActions}]]*/;
        /*]]>*/
        </script>
        
        <script type="text/javascript">
            var zcpPortalApp = {
                pageInit: function() {
                    'use strict';
                    
                    // data init
                    this.data.init();
                    
                    // event init
                    this.event.init();
                },
                data: {
                	namespaces: [],
                	clusterRoles: [],
                	namespaceRoles: [],
                    
                    init: function() {
                        this.validate();
                        this.setInitData();
                    },

                    setInitData: function() {
                        $.each(namespaces, function (key, value) {
                        	zcpPortalApp.data.namespaces.push({value: value, text: value});
                        });

                        $.each(clusterRoles, function (key, value) {
                        	zcpPortalApp.data.clusterRoles.push({value: value, text: value});
                        });

                        $.each(namespaceRoles, function (key, value) {
                            zcpPortalApp.data.namespaceRoles.push({value: value, text: value});
                        });

                        if ($('#tbody_namespaces tr').length === 0) {
                        	zcpPortalApp.event.addNamespaceRole();
                        } 

                        if (Array.isArray(requiredActions)) {
                        	$.each(requiredActions, function (key, value) {
                                if (value === 'UPDATE_PASSWORD') $("#userUpdatePassword").setChecked(true); 
                                if (value === 'CONFIGURE_TOTP') $("#userConfigureOtp").setChecked(true);
                                if (value === 'UPDATE_PROFILE') $("#userUpdateProfile").setChecked(true); 
                                if (value === 'VERIFY_EMAIL') $("#userVerifyEmail").setChecked(true);
                            });
                        }
                    },

                    validate: function() {
                        Validator.addMethod('passwordEqual', function(element, value, param) {
                            var newPassword = $("#password").val();
                            
                            if (value === newPassword) {
                                return true;
                            } else {
                                return false;
                            }
                        });

                        Validator.addMethod('passwordSecuity', function(element, value, param) {
                            var newPassword = $("#password").val();
                            return chkPwd(newPassword);
                        });
                    },

                    updateUser: function() {
                    	var emaildValid = $('#email').validate();
                        var firstNameValid = $('#firstName').validate();
                        
                        if (!emaildValid || !firstNameValid) {
                            return false;
                        }

                        var requiredActions = [];
                        if ($('#userUpdatePassword').is(":checked")) requiredActions.push($('#userUpdatePassword').val());
                        if ($('#userConfigureOtp').is(":checked")) requiredActions.push($('#userConfigureOtp').val());
                        if ($('#userUpdateProfile').is(":checked")) requiredActions.push($('#userUpdateProfile').val());
                        if ($('#userVerifyEmail').is(":checked")) requiredActions.push($('#userVerifyEmail').val());

                        var data = $('#infoform').serializeObject();
                        data.enabled =  $('#btnEnabled').hasClass('btn-on') ? true : false;
                        data.emailVerified =  $('#btnEmailVerified').hasClass('btn-on') ? true : false;
                        data.actions = requiredActions;

                        commonPopup.confirm({
                            title: '사용자 정보 변경',
                            message: '사용자 정보를 변경 하시겠습니까?',
                            callback: function() {
                            	$a.request('/management/user/updateUser', {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                        commonPopup.alert({
                                            message: '사용자 정보가 변경 되었습니다.',
                                            callback: function() {
                                                location.reload();
                                            }
                                        });
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    resetPassword: function() {
                    	var passwordValid = $('#password').validate();
                        var passwordConfirmValid = $('#passwordConfirm').validate();
                     
                        if (!passwordValid || !passwordConfirmValid) {
                            return false;
                        }

                        var data = $('#pwdform').serializeObject();
                        data.temporary =  $('#temporary').hasClass('btn-on') ? true : false;
                        data.id = $('#id').val();

                        commonPopup.confirm({
                            title: '비밀번호 재설정',
                            message: '비밀번호를 재설정 하시겠습니까?',
                            callback: function() {
                                $a.request('/management/user/resetPassword', {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                    	commonPopup.alert({message: '비밀번호가 재설정 되었습니다.'});
                                    	if ($('#temporary').hasClass('btn-on')) {
                                    		$("#userUpdatePassword").setChecked(true);
                                        }
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    resetCredentials: function() {
                    	var actions = [];
                    	var updatePassword = $('#updatePassword').is(":checked");
                    	var configureOtp = $('#configureOtp').is(":checked");
                    	var updateProfile = $('#updateProfile').is(":checked");

                    	if (updatePassword) actions.push($('#updatePassword').val());
                    	if (configureOtp) actions.push($('#configureOtp').val());
                    	if (updateProfile) actions.push($('#updateProfile').val());

                    	if (actions.length === 0) {
                    	    return false;
                        }
                        
                        var data = $('#credentialsform').serializeObject();
                        data.id = $('#id').val();
                        data.actions = actions;

                        commonPopup.confirm({
                            title: 'Credentials 초기화',
                            message: 'Credentials초기화를 하시겠습니까?',
                            callback: function() {
                            	$a.request('/management/user/resetCredentials', {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                    	commonPopup.alert({message: 'Credentials 설정 메일이 발송 되었습니다.'});
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    deleteUser: function() {
                    	var data = {
                    		id: $('#id').val()
                        };

                    	commonPopup.confirm({
                            title: '사용자 삭제',
                            message: '사용자 ' + $('#username').val() + ' 을(를) 삭제하시겠습니까?',
                            callback: function() {
                            	$a.request('/management/user/deleteUser', {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                    	commonPopup.alert({
                                            message: '사용자가 삭제 되었습니다.',
                                            callback: function() {
                                            	location.href = '/management/users';
                                            }
                                        });
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    updateClusterRoleBinding: function() {
                    	var clusterRoleValid = $('#clusterRole').validate();
                        if (!clusterRoleValid) {
                            return false;
                        }
                    	
                        var data = {
                            id: $('#id').val(),
                            clusterRole: $('#clusterRole').val()
                        };

                        commonPopup.confirm({
                            title: 'Cluster 권한',
                            message: '클러스터 권한을 변경하시겠습니까?',
                            callback: function() {
                            	$a.request('/management/user/updateClusterRoleBinding', {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                    	commonPopup.alert({message: '클러스터 권한이 변경되었습니다.'});
                                        $('#clusterRoleTxt').text($('#clusterRole').val());
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    namespaceRoleBinding: function(idx, mode) {
                        var msg = '';
                        switch(mode) {
                        case 'create':
                        	msg = 'Namespace 권한을 등록 하시겠습니까?';
                            break
                        case 'update':
                        	msg = 'Namespace 권한을 수정 하시겠습니까?';
                            break
                        case 'delete':
                        	msg = 'Namespace 권한을 삭제 하시겠습니까?';
                            break
                        case 'rowDelete':
                        	$('#namespaceRow_' + idx).remove();
                            return false;
                        }

                        var data = {
                        	id: $('#id').val(),    
                        	username: $('#username').val(),
                            clusterRole: $('#clusterRole_' + idx).val(),
                            namespace: $('#namespace_' + idx).val()
                        };

                        commonPopup.confirm({
                            title: 'Namespace 권한',
                            message: msg,
                            callback: function() {
                            	$a.request('/management/user/roleBinding/' + mode, {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                        if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                        switch(mode) {
                                        case 'create':
                                        	commonPopup.alert({
                                                message: 'Namespace 권한이 등록 되었습니다.',
                                                callback: function() {
                                                	var html =''
                                                    html += '        <button class="Button btn-ico btn-config__save" onclick="zcpPortalApp.data.namespaceRoleBinding(\'' + idx + '\', \'update\');">수정</button>';
                                                    html += '        <button class="btn-ico del" onclick="zcpPortalApp.data.namespaceRoleBinding(\'' + idx + '\', \'delete\');">삭제</button>';
                                                    $('#namespaceBtn_' + idx).html(html);
                                                }
                                            });
                                            
                                            break
                                        case 'update':
                                        	commonPopup.alert({message: 'Namespace 권한이 수정 되었습니다.'});
                                            break
                                        case 'delete':
                                        	commonPopup.alert({
                                                message: 'Namespace 권한이 삭제 되었습니다.',
                                                callback: function() {
                                                	$('#namespaceRow_' + idx).remove();        
                                                }
                                            });
                                            break
                                        }
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    },

                    optPassword: function() {
                    	var data = {
                            id: $('#id').val(),
                            totp: userTotp ? false : true
                        };

                        if (userTotp) {
                        	$('#btnTotp').removeClass('btn-off').addClass('btn-on');
                        	$('#btnTotp').text('ON');
                        } else {
                        	$('#btnTotp').removeClass('btn-on').addClass('btn-off');
                        	$('#btnTotp').text('OFF');
                        }

                        var msg = userTotp ? '모바일 인증을 해제 하시겠습니까?' : '모바일 인증을 설정 하시겠습니까?';
                        var mode = userTotp ? 'delete' : 'update';
            
                        commonPopup.confirm({
                            title: '이중 로그인 보안 설정',
                            message: msg,
                            callback: function() {
                                $a.request('/management/user/otpPassword/' + mode, {
                                    method: 'post',
                                    data: data, 
                                    success : function(res) {
                                    	if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                        if (userTotp) {
                                        	commonPopup.alert({message: '모바일 인증이 해제 되었습니다.'});
                                        	$('#btnTotp').removeClass('btn-on').addClass('btn-off');
                                        } else {
                                        	commonPopup.alert({message: '모바일 인증이 설정 되었습니다.<br/>사용자가 로그인시 모바일 인증 설정을 해야만 상태가 변경됩니다.'});
                                        	$("#userConfigureOtp").setChecked(true);
                                        }
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    }
                },
                event: {
                    init: function() {
                    	$a.keyfilter.addKeyUpRegexpRule("email", "a-zA-Z0-9@._-");
                        
                        $('#btnUserUpdate').on('click', function() {
                        	zcpPortalApp.data.updateUser();
                        });
                        
                        $('#btnResetPassword').on('click', function() {
                        	zcpPortalApp.data.resetPassword();
                        });
                        
                        $('#btnEmailSend').on('click', function() {
                        	zcpPortalApp.data.resetCredentials();
                        });
                        
                        $('#btnDelete').on('click', function() {
                        	zcpPortalApp.data.deleteUser();
                        });

                        $('#btnClusterRoleBinding').on('click', function() {
                            zcpPortalApp.data.updateClusterRoleBinding();
                        });

                        $('#btnCopy').on('click', function() {
                            var t = document.createElement("textarea");
                            document.body.appendChild(t);
                            t.value = $('#id').val();
                            t.select();
                            document.execCommand('copy');
                            document.body.removeChild(t);
                        });
                        
                        $('#btnNamespaceRoleAdd').on('click', function() {
                        	zcpPortalApp.event.addNamespaceRole();
                        });

                        $('#btnTotp').on('click', function() {
                            zcpPortalApp.data.optPassword();
                        });
                    },

                    addNamespaceRole: function() {
                        var currentRowCount = $('#tbody_namespaces tr').length;
                        var idIndex = currentRowCount + namespaceRoleAddCnt + 1;
                  
                        var namespaceId = 'namespace_' + idIndex;
                        var nsClusterRoleId = 'clusterRole_' + idIndex;
                        
                        var html = '';
                        html += '<tr id="namespaceRow_' + idIndex + '">';
                        html += '    <td>';
                        html += '        <div class="Divselect" style="width: 300px">';
                        html += '            <select id="' + namespaceId + '"></select>';
                        html += '            <span></span>';
                        html += '        </div>';
                        html += '    </td>';
                        html += '    <td>';
                        html += '        <div class="Divselect" style="width: 300px">';
                        html += '            <select id="' + nsClusterRoleId + '"></select>';
                        html += '            <span></span>';
                        html += '        </div>';
                        html += '    </td>';
                        html += '    <td id="namespaceBtn_' + idIndex + '">';
                        html += '        <button class="Button btn-ico btn-config__save" onclick="zcpPortalApp.data.namespaceRoleBinding(\'' + idIndex + '\', \'create\');">등록</button>';
                        html += '        <button class="btn-ico list-del" onclick="zcpPortalApp.data.namespaceRoleBinding(\'' + idIndex + '\', \'rowDelete\');">삭제</button>';
                        html += '    </td>';
                        html += '</tr>';  
           
                        $('#tbody_namespaces').append(html);
                        createOptions(namespaceId, zcpPortalApp.data.namespaces, '');
                        createOptions(nsClusterRoleId, zcpPortalApp.data.namespaceRoles, '');
                        $a.convert($('#tbody_namespaces'));
                        namespaceRoleAddCnt++;
                    }
                }
            }

            var namespaceRoleAddCnt = 0;
            $.alopex.page(function() {
                this.init = function(id, param) { 
                    zcpPortalApp.pageInit();
                };
            });
        </script>
        
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- location -->
            <th:block th:include="common/include/namespace :: common" th:with="listUrl='/management/users', keyword=${commonVo.keyword}, current=${commonVo.current}"></th:block>
            
            <div class="contents-box">
                <!-- service top area-->
                <div class="top-area">
                    <dl class="service-info">
                        <dt><span th:text="${zcpUser.firstName}">야이키</span>
                            <span class="state inactive" th:classappend="${zcpUser.enabled} ? 'state active'" ></span>
                            <p class="Tooltip" data-position="right" th:text="${zcpUser.enabled} ? 'Active' : 'Inactive'">Inactive</p>
                        </dt>
                        <dd class="service-user">
                            사용자ID: <span th:text="${zcpUser.username}">afaserfs</span>
                            <span class="Margin-left-80">Cluster 권한</span> : <span id="clusterRoleTxt" th:text="${zcpUser.clusterRole != null} ? ${zcpUser.clusterRole} : 'none'">admin</span>
                        </dd>
                    </dl>
                    <div class="btn-wrap__right">
                        <button class="Button btn-ico__typeb btn-trash" id="btnDelete">삭제</button>
                    </div>
                </div>
                <!-- tab wrap -->
                <div class="Tabs Fixed" data-tab-width="180px" id="detailTab">
                    <ul>
                        <li data-content="#tab1">사용자 정보</li>
                        <li data-content="#tab2">Credentials</li>
                        <li data-content="#tab3">접근 권한</li>
                        <!-- <li>로그<span class="Icon outlink"></span></li> -->
                    </ul>
                    <!-- 서비스 상세 : 서비스 정보 -->
                    <div id="tab1">
                        <p class="intab-txt">사용자의 기본 정보를 조회 및 수정합니다.</p>
                        <form th:id="infoform" onsubmit="return false;">
                            <input type="hidden" th:name="username" th:id="username" th:value="${zcpUser.username}" />
                            <input type="hidden" th:name="id" th:id="id" th:value="${zcpUser.id}" />
                            
                            <!-- <input type="text" th:name="keyword" th:id="keyword" th:value="${commonVo.keyword}" />
                            <input type="text" th:name="current" th:id="current" th:value="${commonVo.current}" /> -->
                                                        
                            <fieldset>
                                <table class="Table Form-type topline">
                                    <colgroup>
                                        <col style="width: 200px;" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>Account ID</th>
                                            <td>
                                                <input type="text" th:value="${zcpUser.id}" class="Textinput Width-35" data-disabled="true"/>
                                                <button class="btn-ico btn-copy" id="btnCopy">복사</button>
                                                <div class="Tooltip">클립보드로 복사합니다.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>생성 일시</th>
                                            <td th:text="${#dates.format(zcpUser.createdDate, 'yyyy/MM/dd HH:mm:ss')}">2018/05/30 12:00:00</td>
                                        </tr>
                                        <tr>
                                            <th>사용자 ID</th>
                                            <td><input type="text" th:value="${zcpUser.username}" class="Textinput Width-35" data-disabled="true" /></td>
                                        </tr>
                                        <tr>
                                            <th>이메일<strong class="astertisk">*</strong></th>
                                            <td>
                                                <input type="text" th:name="email" th:id="email" th:value="${zcpUser.email}" class="Textinput Width-35" maxlength="100" data-keyfilter-rule="email" data-validation-rule="{required:true, email:true}" data-validation-message="{required:'이메일을 입력해 주세요.'}" />
                                                <p class="info-text" data-for="email"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>이름<strong class="astertisk">*</strong></th>
                                            <td>
                                                <input type="text" th:name="firstName" th:id="firstName" th:value="${zcpUser.firstName}" class="Textinput Width-35" maxlength="100" data-validation-rule="{required:true}" data-validation-message="{required:'이름을 입력해 주세요.'}"/>
                                                <p class="info-text" data-for="firstName"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>사용자 Enabled</th>
                                            <td>
                                                <div class="onoff-wrap" th:switch="${zcpUser.enabled}">
                                                    <button th:case="true" class="Button btn-on" id="btnEnabled">ON</button>
                                                    <button th:case="false" class="Button btn-off" id="btnEnabled">OFF</button>
                                                </div>
                                                <p class="form-infotxt">'OFF'로 설정 시, 로그인 할 수 없습니다.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Email Verified</th>
                                            <td>
                                                <div class="onoff-wrap" th:switch="${zcpUser.emailVerified}">
                                                    <button th:case="true" class="Button btn-on" id="btnEmailVerified">ON</button>
                                                    <button th:case="false" class="Button btn-off" id="btnEmailVerified">OFF</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Required Action</th>
                                            <td>
                                                <div class="check-wrap">
                                                    <label class="ImageCheckbox" id="checkTest03">
                                                        <input class="Checkbox" type="checkbox" th:id="userUpdatePassword" th:name="requiredAction" value="UPDATE_PASSWORD"/>
                                                        비밀번호
                                                    </label>
                                                    <label class="ImageCheckbox" id="checkTest03">
                                                        <input class="Checkbox" type="checkbox" th:id="userConfigureOtp" th:name="requiredAction" value="CONFIGURE_TOTP" />
                                                        모바일 인증
                                                    </label>
                                                    <label class="ImageCheckbox" id="checkTest03">
                                                        <input class="Checkbox" type="checkbox" th:id="userUpdateProfile" th:name="requiredAction" value="UPDATE_PROFILE"/>
                                                        프로필
                                                    </label>
                                                    <label class="ImageCheckbox" id="checkTest03">
                                                        <input class="Checkbox" type="checkbox" th:id="userVerifyEmail" th:name="requiredAction" value="VERIFY_EMAIL"/>
                                                        이메일 인증
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                        <div class="btn-wrap">
                            <div class="btn-right"><button class="Button btn bg-red" id="btnUserUpdate">변경</button></div>
                        </div>
                    </div>
                    <!-- 서비스 상세 : Condentials -->
                    <div id="tab2">
                        <p class="intab-txt">사용자의 비밀번호를 재설정하거나 초기화 할 수 있습니다.</p>
                        <!-- accordion wrap-->
                        <ul class="Accordion cp-accordion">
                            <li>
                                <a>비밀번호 재설정</a>
                                <div class="accor-contents__wrap">
                                    <form th:id="pwdform" onsubmit="return false;">
                                        
                                        <fieldset>
                                            <table class="Table Form-type">
                                                <colgroup>
                                                    <col style="width: 200px;" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>비밀번호<strong class="astertisk">*</strong></th>
                                                        <td>
                                                            <input type="password" th:name="password" th:id="password" class="Textinput" maxlength="20" data-keyfilter-rule="digits|english" data-keyfilter="!@#$%^*_-" data-validation-rule="{required:true, passwordSecuity:true}" data-validation-message="{required:'비밀번호를 입력해 주세요.', passwordSecuity:'대문자 1자, 소문자 1자, 숫자 1자를 포함하여 8~20자 사이로 입력하세요.'}" />
                                                            <p class="info-text" data-for="password"></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>비밀번호 확인<strong class="astertisk">*</strong></th>
                                                        <td>
                                                            <input type="password" th:name="passwordConfirm" th:id="passwordConfirm" class="Textinput" maxlength="20"  data-validation-rule="{required:true, passwordEqual:'testing'}"  data-validation-message="{required:'비밀번호 확인을 입력해 주세요.', passwordEqual:'두개의 비밀번호가 일치하지 않습니다.'}" />
                                                            <p class="info-text" data-for="passwordConfirm"></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>로그인 시 변경</th>
                                                        <td>
                                                            <div class="onoff-wrap"><button class="Button btn-on" id="temporary">ON</button></div>
                                                            <p class="form-infotxt">'ON'로 설정 시, 사용자는 로그인 후 비밀번호를 변경해야 합니다.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </form>
                                    <div class="btn-wrap__right">
                                        <button class="Button btn bg-red" id="btnResetPassword">확인</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a>이중 로그인 보안 설정</a>
                                <div class="accor-contents__wrap">
                                    <table class="Table Form-type">
                                        <colgroup>
                                            <col style="width: 200px;" />
                                            <col />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>모바일 인증</th>
                                                <td>
                                                    <div class="onoff-wrap" th:switch="${zcpUser.totp}">
                                                        <button th:case="true" class="Button btn-on" id="btnTotp">ON</button>
                                                        <button th:case="false" class="Button btn-off" id="btnTotp">OFF</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <a>Credentials 초기화</a>
                                <div class="accor-contents__wrap">
                                    <form th:id="credentialsform" onsubmit="return false;">
                                        <fieldset>
                                            <table class="Table Form-type">
                                                <colgroup>
                                                    <col style="width: 200px;" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>초기화 대상</th>
                                                        <td>
                                                            <div class="check-wrap">
                                                                <label class="ImageCheckbox" id="checkTest03">
                                                                    <input class="Checkbox" type="checkbox" th:id="updatePassword" value="UPDATE_PASSWORD"/>
                                                                    비밀번호
                                                                </label>
                                                                <label class="ImageCheckbox" id="checkTest03">
                                                                    <input class="Checkbox" type="checkbox" th:id="configureOtp" value="CONFIGURE_TOTP" />
                                                                    모바일 인증
                                                                </label>
                                                                <label class="ImageCheckbox" id="checkTest03">
                                                                    <input class="Checkbox" type="checkbox" th:id="updateProfile" value="UPDATE_PROFILE"/>
                                                                    프로필
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>유효기간</th>
                                                        <td>
                                                            <div class="Divselect" style="width: 200px">
                                                                <select th:name="period" th:id="period">
                                                                    <option value="12">12</option>
                                                                    <option value="24">24</option>
                                                                    <option value="36">36</option>
                                                                    <option value="48">48</option>
                                                                </select>
                                                                <span></span>
                                                            </div>
                                                            <div class="Divselect" style="width: 200px">
                                                                <select th:name="type" th:id="type">
                                                                    <option value="HOUR">Hours</option>
                                                                    <option value="MIN">Minutes</option>
                                                                    <option value="DAY">Days</option>
                                                                </select>
                                                                <span></span>
                                                            </div>
                                                            <button class="Button btn" id="btnEmailSend">이메일 발송</button>
                                                            <p class="form-infotxt">사용자가 비밀번호 및 모바일인증을 재설정 할 수 있도록 이메일을 발송합니다. </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 접근권한 -->
                    <div id="tab3">
                        <p class="intab-txt">사용자의 비밀번호를 재설정하거나 초기화 할 수 있습니다.</p>
                        <!-- accordion wrap-->
                        <ul class="Accordion cp-accordion">
                            <li>
                                <a>Cluster 권한</a>
                                <div class="accor-contents__wrap">
                                    <form th:id="clusterform" onsubmit="return false;">
                                        <fieldset>
                                            <table class="Table Form-type">
                                                <colgroup>
                                                    <col style="width: 200px;" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>클러스터 권한</th>
                                                        <td>
                                                            <div class="Divselect" style="width: 300px">
                                                                <select th:name="clusterRole" th:id="clusterRole" data-validation-rule="{required:true}" data-validation-message="{required:'클러스터 권한을 선택해주세요.'}">
                                                                    <option value="">선택</option>
                                                                    <option th:each="clusterRole : ${clusterRoles}" th:value="${clusterRole}" th:text="${clusterRole}" th:selected="${clusterRole == zcpUser.clusterRole}"></option>
                                                                </select>
                                                                <span></span>
                                                            </div>
                                                            <p class="info-text" data-for="clusterRole"></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </form>
                                    <div class="btn-wrap">
                                        <div class="btn-right"><button class="Button btn bg-red" id="btnClusterRoleBinding">확인</button></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a>Namespace 권한</a>
                                <div class="accor-contents__wrap">
                                    <table class="Table Form-type">
                                        <colgroup>
                                            <col style="width: 200px;" />
                                            <col />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="Valign-top">권한설정</th>
                                                <td>
                                                    <!-- 권한 설정 추가 및 삭제 테이블 -->
                                                    <table class="set-table">
                                                        <colgroup>
                                                            <col />
                                                            <col />
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>Namespace</th>
                                                                <th>권한</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody th:id="tbody_namespaces">
                                                            <tr th:each="item, iterStat : ${roleBindings.items}" th:id="|namespaceRow_${iterStat.index}|">
                                                                <td>
                                                                    <input type="text" th:id="|namespace_${iterStat.index}|" th:value="${item.metadata.namespace}" class="Textinput" style="width: 300px" readonly="readonly" />
                                                                </td>
                                                                <td>
                                                                    <div class="Divselect" style="width: 300px">
                                                                        <select th:id="|clusterRole_${iterStat.index}|">
                                                                            <option th:each="namespaceRole : ${namespaceRoles}" th:value="${namespaceRole}" th:text="${namespaceRole}" th:selected="${namespaceRole == item.roleRef.name}"></option>
                                                                        </select>
                                                                        <span></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button class="Button btn-ico btn-config__save" th:onclick="'zcpPortalApp.data.namespaceRoleBinding(\'' +  ${iterStat.index} + '\', \'update\');'">수정</button>
                                                                    <button class="btn-ico del" th:onclick="'zcpPortalApp.data.namespaceRoleBinding(\'' +  ${iterStat.index} + '\', \'delete\');'">삭제</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-wrap">
                                        <div class="btn-right"><button class="Button btn" id="btnNamespaceRoleAdd">권한설정 추가</button></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>