.alopexgrid .wrapper {
	border: 0;
	border-bottom: 1px solid #eeeeee;
}
.alopexgrid .headercell, 
.alopexgrid .headercell.cell-header-lastrow.cell-header-firstrow {
	height: 40px;
	padding-top: 6px;
	color: #444444;
	font-weight: bold;
	border-top: 1px solid #eeeeee;
	background: #ffffff;
}
.alopexgrid .cell {
	height: 40px;
	padding-top: 8px;
	font-size: 1.0rem;
	border-right: 0;
	border-color: #eeeeee;
}
.alopexgrid .relative-wrap .column-title {
	position: relative;
	top: -6px;
	font-size: 1.0rem;
}
.alopexgrid .column-title {
	position: relative;
	top: -8px;
	font-size: 1.0rem;
}
.alopexgrid .cell.bodycell.selected,
.alopexgrid .cell.bodycell.selected.nextrow-selected,
.alopexgrid .cell.bodycell.selected.prevrow-selected,
.alopexgrid .cell-selected,
.alopexgrid .cell-selected-focus {background: #f9f9f9}

/*image checkbox & image radio */
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 18px;
	height: 18px;
	background: transparent url("../images/ico-form.png") no-repeat 0 0;
}

.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:hover:after {
	background: transparent url("../images/ico-form.png") no-repeat 0 0;
}
.alopexgrid .headercell .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:after {
	content: '';
	width: 18px;
	height: 18px;
	background: transparent url("../images/ico-form.png") no-repeat 0 0;
}

.alopexgrid .headercell .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:focus:after, 
.alopexgrid .headercell .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper:hover:after {
	background: transparent url("../images/ico-form.png") no-repeat 0 0;
}

.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.checked:after {
	background: url("../images/ico-form.png") no-repeat -53px 0;
}

.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.checked:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.checked:hover:after {
	background: url("../images/ico-form.png") no-repeat -53px 0;
}

/* selectorColumn 헤더 체크박스의 disabled 스타일 관련 v3.9.0+ */
.alopexgrid .headercell .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.disabled:after {
	background: url("../images/ico-form.png") no-repeat -26px 0;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.disabled:after {
	background: url("../images/ico-form.png") no-repeat -26px 0;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.disabled.checked:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.disabled.checked:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper.disabled.checked:hover:after {
	background: url("../images/ico-form.png") no-repeat -79px 0;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background: url("../images/ico-form.png") no-repeat  0 -53px;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper:hover:after {
	background: url("../images/ico-form.png") no-repeat  0 -53px;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.disabled:after {
	background: url("../images/ico-form.png") no-repeat -26px -53px;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.disabled.checked:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.disabled.checked:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.disabled.checked:hover:after {
	background: url("../images/ico-form.png") no-repeat -79px -53px;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.checked:after {
	background: url("../images/ico-form.png") no-repeat -53px -53px;
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.checked:focus:after, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-radio-wrapper.checked:hover:after {
	background: url("../images/ico-form.png") no-repeat -53px -53pxl
}
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper .alopexgrid-default-renderer, 
.alopexgrid .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper .selector-checkbox {margin-top: 16px;}

.alopexgrid .headercell .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper .alopexgrid-default-renderer {margin-top: 6px;}
.alopexgrid .headercell.cell-header-lastrow.cell-header-firstrow .alopexgrid-input-wrapper.alopexgrid-input-checkbox-wrapper .selector-checkbox {margin-top: 12px;}

/* sorting-handle */
.alopexgrid .sorting .sorting-handle {
	position: absolute;
	right: 10px;
	/* bottom:35%; */
	width: 9px;
	height: 6px;
	background: url("../images/ico-common.png") no-repeat -464px -40px;
}
.alopexgrid .sorting.asc .sorting-handle {
	background: url("../images/ico-common.png") no-repeat -464px -40px;
}
.alopexgrid .sorting.desc .sorting-handle {
	background: url("../images/ico-common.png") no-repeat -464px 0;
}

/* pager */
.alopexgrid .pager {
	position: relative;
}
.pager-center {
	position: absolute;
	right: 0;
}
.alopexgrid .pager .pager-right {
	position: relative;
	text-align: right;
	right: 220px;
}
.perPage {
	position: relative;
	top: -7px;
	width: 40px;
	font-size: 1.07rem;
	color: #666666;
	border: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: url("../images/ico-pager.png") no-repeat right center;
}

.alopexgrid .pager .page-button {
	background: #ffffff;
}
.alopexgrid .pager .page-button a {
	padding-top: 0;
	border: 0;
}

.alopexgrid .pager .page-list a {
	font-size: 16px;
	color: #666666;
	border: 0;
}
/* 현재 페이지를 의미하는 페이지 버튼은 current 클래스를 가진다. */
.alopexgrid .pager .page-button.current a,
.alopexgrid .pager .page-button.hovering a {
	font-weight: normal;
	color: #ea0530;
	background: #ffffff;
}
.alopexgrid .pager .page-button.first-page a {
	background: transparent url("../images/ico-paging.png") no-repeat -22px 0;
}

.alopexgrid .pager .page-button.first-page.hovering a {
	background: transparent url("../images/ico-paging.png") no-repeat -72px 0;
}

.alopexgrid .pager .page-button.prev-page a {
	background: transparent url("../images/ico-paging.png") no-repeat -48px 0;
}

.alopexgrid .pager .page-button.prev-page.hovering a {
	background: transparent url("../images/ico-paging.png") no-repeat -98px 0;
}

.alopexgrid .pager .page-button.next-page a {
	background: transparent url("../images/ico-paging.png") no-repeat -182px 0;
}

.alopexgrid .pager .page-button.next-page.hovering a {
	background: transparent url("../images/ico-paging.png") no-repeat -133px 0;
}

.alopexgrid .pager .page-button.last-page a {
	background: transparent url("../images/ico-paging.png") no-repeat -209px 0;
	border-right: 0;
}

.alopexgrid .pager .page-button.last-page.hovering a {
	background: transparent url("../images/ico-paging.png") no-repeat -160px 0;
}
.alopexgrid .pager .pager-left span{
	font-size: 1.07rem;
	color: #666666;
}