<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/template-default">
<head>
<title>알림</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	var zcpPortalApp = {
		pageInit : function() {
			'use strict';
			this.data.init();
			this.event.init();
		},
		data : {
			init : function() {
			},
			createRule : function() {
				if (!this.validation()) {
					return false;
				}

				var check = alertPopup.confirm({
					width : 400,
					height : 250,
					message : 'Rule 정보를 저장하시겠습니까?',
					callback : function(data) {
						if (data == 'ok') {
							$a.request('/alert/createRule', {
								method : 'post',
								data : $('#form').serializeObject(),
								success : function(res) {
									if (res.resultCd !== '200') {
										if (res.resultMsg)
											alert(res.resultMsg);
										return false;
									}
									alertPopup.alert({
										width : 400,
										height : 250,
										message : 'Rule 정보가 저장되었습니다.',
										callback : function() {
											location.href = '/alert/rules';
										}
									});
								},
								error : function(errObject) {
									alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
								}
							})
						} else {
							return false;
						}
					}
				});
			},

			getDeployment : function(namespace) {
				var jsonData = {
					namespace : namespace
				};

				$a.request('/alert/getDeployment', {
					method : 'post',
					data : jsonData,
					success : function(res) {
						if (res.resultCd !== '200') {
							if (res.resultMsg)
								return false;
						} else {
							comboOptions("pod", res.resultData, "podSpan");
						}
					},
					error : function(errObject) {
						alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
					}
				});
			},

			validation : function() {
				var typeVal = $("#type option:selected").val();

				if (typeVal == 'NodeDown' || typeVal == 'ApiserverDown'
						|| typeVal == 'K8SNodeNotReady') {
					var type = $('#type').validate();
					var condition = $('#condition').validate();
					var channel = $('#channel').validate();
					var duration = $('#duration').validate();
					if (!type || !condition || !channel || !duration) {
						return false;
					} else {
						return true;
					}

				} else if (typeVal == 'PodFrequentlyRestarting') {
					var type = $('#type').validate();
					var namespace = $('#namespace').validate();
					var pod = $('#pod').validate();
					var channel = $('#channel').validate();
					var duration = $('#duration').validate();
					var value2 = $('#value2').validate();
					if (!type || !namespace || !pod || !channel || !duration || !value2) {
						return false;
					} else {
						return true;
					}

				} else {
					var type = $('#type').validate();
					var condition = $('#condition').validate();
					var value2 = $('#value2').validate();
					var channel = $('#channel').validate();
					var duration = $('#duration').validate();
					if (!type || !condition || !value2 || !channel || !duration) {
						return false;
					} else {
						return true;
					}
				}
			}
		},
		event : {
			init : function() {
				$('#btnCreate').on('click', function() {
					zcpPortalApp.data.createRule();
				});

				$('#btnCancel').on('click', function() {
					location.href = '/alert/rules';
				});

				$('#btnAdd').on('click', function() {
					channelPopup.pop({
						callback : function() {
							location.reload();
						}
					});
				});

				$('#namespace').change(function(e) {
					$('#podDiv').attr('class', 'Divselect');
					$('#podDiv').removeAttr('data-disabled');
					$('#pod').removeAttr('class')
					$('#pod').attr('disabled', false);

					var type = $("#namespace option:selected").val();
					zcpPortalApp.data.getDeployment(type);
				});

				$('#type').change(
						function(e) {
							var typeVal = $("#type option:selected").val();

							if (typeVal != 'PodFrequentlyRestarting') {
								$('#namespace').find("option:eq(0)").prop(
										"selected", true);
								$('#namespaceSpan').text('Namespace 선택');

								$('#pod').find("option:eq(0)").prop("selected",
										true);
								$('#podSpan').text('Pod 선택');
							}
						});
			}
		}
	}

	$.alopex.page(function() {
		this.init = function(id, param) {
			$('#namespaceDiv').attr('class', 'Divselect af-disabled Disabled');
			$('#namespaceDiv').attr('data-disabled', 'true');
			//$('#namespace').attr('class', 'af-disabled Disabled');
			$('#namespace').attr('disabled', true);

			$('#podDiv').attr('class', 'Divselect af-disabled Disabled');
			$('#podDiv').attr('data-disabled', 'true');
			$('#pod').attr('disabled', true);

			/* $('#warningLabel').attr('class', 'ImageRadio Disabled');
			$("#severity").attr("readonly", true);
			$("#severity").attr("disabled", true); */

			$('#conditionDiv').attr('class', 'Divselect af-disabled Disabled');
			$('#conditionDiv').attr('data-disabled', 'true');
			$('#condition').attr('class', 'af-disabled Disabled');
			$('#condition').attr('disabled', true);

			$('#value2').attr('class', 'Textinput af-disabled Disabled');
			$('#value2').attr('disabled', true);

			$('#type').change(
					function(e) {
						var type = $("#type option:selected").val();
						$('#value2').val('');

						if (type == 'NodeDown') {
							$('#namespaceDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#namespaceDiv').attr('data-disabled', 'true');
							$('#namespace').attr('disabled', true);

							$('#podDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#podDiv').attr('data-disabled', 'true');
							$('#pod').attr('disabled', true);

							$('#conditionDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#conditionDiv').attr('data-disabled', 'true');
							$('#condition').attr('class',
									'af-disabled Disabled');
							$('#condition').attr('disabled', true);

							$('#value2').attr('class',
									'Textinput af-disabled Disabled');
							$('#value2').attr('disabled', true);

						} else if (type == 'ApiserverDown') {
							$('#namespaceDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#namespaceDiv').attr('data-disabled', 'true');
							$('#namespace').attr('disabled', true);

							$('#podDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#podDiv').attr('data-disabled', 'true');
							$('#pod').attr('disabled', true);

							$('#conditionDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#conditionDiv').attr('data-disabled', 'true');
							$('#condition').attr('class',
									'af-disabled Disabled');
							$('#condition').attr('disabled', true);

							$('#value2').attr('class',
									'Textinput af-disabled Disabled');
							$('#value2').attr('disabled', true);

						} else if (type == 'K8SNodeNotReady') {
							$('#namespaceDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#namespaceDiv').attr('data-disabled', 'true');
							$('#namespace').attr('disabled', true);

							$('#podDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#podDiv').attr('data-disabled', 'true');
							$('#pod').attr('disabled', true);

							$('#conditionDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#conditionDiv').attr('data-disabled', 'true');
							$('#condition').attr('class',
									'af-disabled Disabled');
							$('#condition').attr('disabled', true);

							$('#value2').attr('class',
									'Textinput af-disabled Disabled');
							$('#value2').attr('disabled', true);

						} else if (type == 'PodFrequentlyRestarting') {
							$('#namespaceDiv').attr('class', 'Divselect');
							$('#namespaceDiv').removeAttr('data-disabled');
							$('#namespace').removeAttr('class')
							$('#namespace').attr('disabled', false);

							$('#podDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#podDiv').attr('data-disabled', 'true');
							$('#pod').attr('disabled', true);
							
							$('#conditionDiv').attr('class', 'Divselect');
							$('#conditionDiv').removeAttr('data-disabled');
							$('#condition').removeAttr('class');
							$('#condition').attr('disabled', false);

							$('#value2').attr('class', 'Textinput');
							$('#value2').attr('disabled', false);

							/* $('#conditionDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#conditionDiv').attr('data-disabled', 'true');
							$('#condition').attr('class',
									'af-disabled Disabled');
							$('#condition').attr('disabled', true);

							$('#value2').attr('class',
									'Textinput af-disabled Disabled');
							$('#value2').attr('disabled', true); */

						} else {
							$('#namespaceDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#namespaceDiv').attr('data-disabled', 'true');
							$('#namespace').attr('disabled', true);

							$('#podDiv').attr('class',
									'Divselect af-disabled Disabled');
							$('#podDiv').attr('data-disabled', 'true');
							$('#pod').attr('disabled', true);

							$('#conditionDiv').attr('class', 'Divselect');
							$('#conditionDiv').removeAttr('data-disabled');
							$('#condition').removeAttr('class');
							$('#condition').attr('disabled', false);

							$('#value2').attr('class', 'Textinput');
							$('#value2').attr('disabled', false);
						}
					});
			zcpPortalApp.pageInit();
		};
	});
</script>
</head>
<body>
	<th:block layout:fragment="content">

		<!-- main-contents -->
		<div class="cp-container">
			<!-- contents -->
			<div class="contents-wrap">
				<div class="locations-area">
					<div class="back-list">
						<a href="/alert/rules"><span>목록으로 돌아가기</span></a>
					</div>
				</div>
				<div class="contents-box">
					<!-- rule info area-->
					<div class="top-area">
						<h2 class="title">Rules 추가</h2>
						<div class="tag-wrap">
							<span class="tag">Alert 발생을 위한 신규 Rule을 생성합니다.</span>
						</div>
					</div>
					<!-- add rule table-->
					<form th:id="form" onsubmit="return false;">
						<fieldset>
							<table class="Table Form-type topline">
								<colgroup>
									<col style="width: 200px;" />
									<col />
								</colgroup>
								<tbody>
									<tr style="height: 65px;">
										<th>Rule 종류<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" style="width: 310px;">
												<select th:name="type" th:id="type"
													data-validation-rule="{required:true}"
													data-validation-message="{required:'Rule 종류를 선택해주세요.'}">
													<option value="">Rule 종류 선택</option>
													<option value="NodeDown">NodeDown</option>
													<option value="NodeCPUUsage">NodeCPUUsage</option>
													<option value="NodeLoadAverage5">NodeLoadAverage5</option>
													<option value="NodeMemoryUsage">NodeMemoryUsage</option>
													<option value="NodeLowRootDisk">NodeLowRootDisk</option>
													<option value="ApiserverDown">ApiserverDown</option>
													<option value="K8SNodeNotReady">K8SNodeNotReady</option>
													<option value="PodFrequentlyRestarting">PodFrequentlyRestarting</option>
												</select> <span></span>
											</div>
											<p class="info-text" data-for="type"></p>
										</td>
									</tr>
									<tr style="height: 65px;">
										<th>Namespace<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" id="namespaceDiv" data-disabled="true"
												style="width: 310px;">
												<select th:name="namespace" th:id="namespace"
													data-validation-rule="{required:true}"
													data-validation-message="{required:'Namespace를 선택해주세요.'}">
													<option value="">Namespace 선택</option>
													<option th:each="namespace : ${namespace}"
														th:value="${namespace}" th:text="${namespace}"></option>
												</select> <span id="namespaceSpan"></span>
											</div>
											<p class="info-text" data-for="namespace"></p>
										</td>
									</tr>
									<tr style="height: 65px;">
										<th>Pod<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" id="podDiv" data-disabled="true"
												style="width: 310px;">
												<select th:name="pod" th:id="pod"
													data-validation-rule="{required:true}"
													data-validation-message="{required:'Pod을 선택해주세요.'}">
													<option value="">Pod 선택</option>
												</select> <span id="podSpan"></span>
											</div>
											<p class="info-text" data-for="pod"></p>
										</td>
									</tr>
									<tr style="height: 65px;">
										<th>Duration<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" style="width: 170px;">
												<select th:name="duration" th:id="duration"
													data-validation-rule="{required:true}"
													data-validation-message="{required:'Duration을 선택해주세요.'}">
													<option value="">Duration 선택</option>
													<option value="2m">2m</option>
													<option value="5m">5m</option>
													<option value="10m">10m</option>
												</select> <span></span>
											</div>
											<p class="info-text" data-for="duration"></p>
										</td>
									</tr>
									<tr style="height: 65px;">
										<th>심각도<strong class="astertisk">*</strong></th>
										<td><label class="ImageRadio" id="warningLabel">
												<input class="Radio" th:name="severity" th:id="severity"
												value="warning" checked="checked" />Warning
										</label> <label class="ImageRadio Margin-left-40" id="criticalLabel">
												<input class="Radio" data-disabled="false"
												th:name="severity" th:id="severity" value="critical" />Critical
										</label>
											<p class="info-text">이미 등록된 심각도는 추가할 수 없습니다.</p></td>
									</tr>
									<tr style="height: 65px;">
										<th>임계치<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" id="conditionDiv">
												<select th:name="condition" th:id="condition">
													<option value="&gt;">&gt;</option>
													<option value="&lt;">&lt;</option>
												</select> <span></span>
											</div> <input class="Textinput"
											style="width: 120px; min-width: 50px;" maxlength="3"
											th:name="value2" th:id="value2" data-keyfilter-rule="digits"
											data-validation-rule="{required:true}"
											data-validation-message="{required:'임계치를 입력해주세요.'}" />
											<p class="info-text" data-for="value2"></p>
										</td>
									</tr>
									<tr style="height: 65px;">
										<th>채널<strong class="astertisk">*</strong></th>
										<td>
											<div class="Divselect" style="width: 310px;">
												<select th:name="channel" th:id="channel"
													data-validation-rule="{required:true}"
													data-validation-message="{required:'채널을 선택해주세요.'}">
													<option value="">채널 선택</option>
													<option th:each="channel : ${channel}"
														th:value="${channel}" th:text="${channel}"></option>
												</select> <span></span>
											</div>
											<button class="Button btn" id="btnAdd">신규 채널</button> <!-- <p class="Margin-top-5">Notification <span>3</span>개</p> -->
											<p class="info-text" data-for="channel"></p>
										</td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</form>
					<div class="btn-wrap">
						<div class="btn-left">
							<button class="Button btn" id="btnCancel">취소</button>
						</div>
						<div class="btn-right">
							<button class="Button btn bg-red" id="btnCreate">확인</button>
						</div>
					</div>
				</div>
			</div>
			<!-- //contents -->
		</div>
		<!-- //main-contents -->

	</th:block>
</body>
</html>
