<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Namespace</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
    </head>
    
    <th:block th:fragment="common">
        <!-- location -->
        <div class="locations-area">
            <div class="prj-list">
                <strong>Namespace : </strong>
                <th:block th:if="${#authentication.principal.accessRole} == 'cluster-admin'">
                    <button class="Dropdownbutton namespace" th:text="${selectedNamespace != null ? selectedNamespace : '전체'}">ONM</button>
                </th:block>
                <th:block th:unless="${#authentication.principal.accessRole} == 'cluster-admin'">
                    <button class="Dropdownbutton namespace" th:text="${selectedNamespace != null ? selectedNamespace : '선택'}">ONM</button>
                </th:block>
                
                <ul class="dropmenu-list">
                    <li th:if="${#authentication.principal.accessRole} == 'cluster-admin'"><a th:href="@{/}">전체</a></li>
                    
                    <th:block th:each="namespace, iterStat : ${userNamespaces}">
                        <li><a th:href="@{/(namespace=${namespace})}" th:text="${namespace}"></a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </th:block>
    
</html>