<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Namespace</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    
    <th:block th:fragment="common">
        <!-- location -->
        <div class="locations-area">
            <div class="prj-list">
                <strong>Namespace : </strong>
                <th:block th:if="${#authentication.principal.clusterRole} == 'cluster-admin'">
                    <button class="Dropdownbutton namespace" th:text="${@authUserComponent.getNamespace() != null and @authUserComponent.getNamespace() != '' ? @authUserComponent.getNamespace() : '전체'}">전체</button>
                </th:block>
                <th:block th:unless="${#authentication.principal.clusterRole} == 'cluster-admin'">
                    <button class="Dropdownbutton namespace" th:text="${@authUserComponent.getNamespace() != null and @authUserComponent.getNamespace() != '' ? @authUserComponent.getNamespace() : '선택'}">선택</button>
                </th:block>
                
                <ul class="dropmenu-list">
                    <th:block th:if="${#authentication.principal.clusterRole} == 'cluster-admin'">
                        <li onclick="moveMainNamespace('TOTAL');"><a href="#">전체</a></li>
                    </th:block>
                    
                    <th:block th:each="namespace, iterStat : ${userNamespaces}">
                        <li th:onclick="'moveMainNamespace(\'' +  ${namespace} + '\');'"><a href="#" th:text="${namespace}"></a></li>
                    </th:block>
                </ul>
            </div>
            
            <div class="back-list" th:if="${listUrl} != null">
                <th:block th:if="${current} != null">
                    <a th:href="@{${listUrl}(keyword=${keyword}, current=${current})}"><span>목록으로 돌아가기</span></a>
                </th:block>
                <th:block th:if="${current} == null">
                    <a th:href="${listUrl}"><span>목록으로 돌아가기</span></a>
                </th:block>
            </div>
        </div>
    </th:block>
    
</html>