<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>Cli Command</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <script src="js/lib/json/json2yaml.js" data-th-src="@{/js/lib/json/json2yaml.js}"></script>
        
        <script type="text/javascript">
            var zcpPortalApp = {
                pageInit: function() {
                    'use strict';
                    
                    // data init
                    this.data.init();
                    
                    // event init
                    this.event.init();
                },
                data: {
                    init: function() {
                        this.getZcpKubeConfig();
                    },
                    getZcpKubeConfig: function() {
                    	$a.request('/my/getZcpKubeConfig', {
                            method: 'get',
                            data: null, 
                            success : function(res) {
                                if (res.resultCd !== '200') {
                                    if (res.resultMsg) alert(res.resultMsg);
                                    return false;
                                }
                                
                                if (!res.resultData) return false;
                                $('#cliArea').val(json2yaml(res.resultData));
                            },
                            error : function(errObject) {
                                alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                            }
                        })
                    }
                },
                event: {
                    init: function() {
                    	$('#btnCopy').on('click', function() {
                    		var t = document.createElement("textarea");
                    	    document.body.appendChild(t);
                    	    t.value = $('#cliArea').val();
                    	    t.select();
                    	    document.execCommand('copy');
                    	    document.body.removeChild(t);
                    	});
                    }
                }
            }
            
            $.alopex.page(function() {
                this.init = function(id, param) { 
                    zcpPortalApp.pageInit();
                };
            });
        </script>
        
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- location -->
            <th:block th:include="common/include/namespace :: common"></th:block>
            
            <div class="contents-box">
                <!-- service top area-->
                <div class="top-area">
                    <h2 class="title">CLI Command</h2>
                    <div class="tag-wrap">
                        <span class="tag">kubectl command line interface 를 이용하여 클러스터 콘솔로 바로 접속할 수 있습니다. 아래 단계를 따라 CLI 환경을 설정 하세요</span>
                    </div>
                </div>
                <!-- myinfo detail-->
                <form onsubmit="return false;">
                    <fieldset>
                        <table class="Table Form-type topline">
                            <colgroup>
                                <col style="width: 200px;"></col>
                                <col></col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><span class="ico-num">1</span>단계</th>
                                    <td>
                                        <span class="Padding-right-10">kubectl command line interface를 PC에 설치합니다.</span> 
                                        <button class="Button btn bg-gray">Download</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="Valign-top"><span class="ico-num">2</span>단계</th>
                                    <td>
                                        <p class="Margin-bottom-10">CLI구성을 위하여 터미널에 아래의 command를 실행합니다.</p><textarea id="cliArea" class="Textarea cli-area" readonly="readonly"></textarea>
                                        <button class="btn-ico btn-copy" id="btnCopy">복사</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
            </div>
        </th:block>
    </body>
</html>