<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>비밀번호 변경</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <script th:inline="javascript">
        /*<![CDATA[*/
        var userTotp = /*[[${zcpUser.totp}]]*/;
        /*]]>*/
        </script>
        
        <script type="text/javascript">
            var zcpPortalApp = {
                pageInit: function() {
                    'use strict';
                    
                    // data init
                    this.data.init();
                    
                    // event init
                    this.event.init();
                },
                data: {
                    init: function() {
                        this.validate();
                    },
                    validate: function() {
                        Validator.addMethod('passwordEqual', function(element, value, param) {
                            var newPassword = $("#newPassword").val();
                            
                            if (value === newPassword) {
                                return true;
                            } else {
                                return false;
                            }
                        });

                        Validator.addMethod('passwordSecuity', function(element, value, param) {
                            var newPassword = $("#newPassword").val();
                            return chkPwd(newPassword);
                        });
                    },
                    updatePassword: function() {
                        if (!this.validation()) {
                            return false;
                        }

                        commonPopup.confirm({
                            title: '비밀번호 변경',
                            message: '비밀번호를 변경 하시겠습니까?',
                            callback: function() {
                                $a.request('/my/updatedPassword', {
                                    method: 'post',
                                    data: $('#form').serializeObject(), 
                                    success: function(res) {
                                        if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                        commonPopup.alert({
                                            message: '비밀번호가 변경되었습니다.',
                                            callback: function() {
                                                $("#form")[0].reset();
                                            }
                                        });
                                    },
                                    error: function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                }) 
                            }
                        });
                    },
                    validation: function() {
                        var currentPasswordValid = $('#currentPassword').validate();
                        var newPasswordValid = $('#newPassword').validate();
                        var passwordConfirmValid = $('#passwordConfirm').validate();
                     
                        if (!currentPasswordValid || !newPasswordValid || !passwordConfirmValid) {
                            return false;
                        } else {
                            return true;
                        }
                    },

                    optPassword: function() {
                        if (userTotp) {
                            $('#btnTotp').removeClass('btn-off').addClass('btn-on');
                            $('#btnTotp').text('ON');
                        } else {
                            $('#btnTotp').removeClass('btn-on').addClass('btn-off');
                            $('#btnTotp').text('OFF');
                        }

                        var msg = userTotp ? '모바일 인증을 해제 하시겠습니까?' : '모바일 인증을 설정 하시겠습니까?';
                        var mode = userTotp ? 'delete' : 'update';
            
                        commonPopup.confirm({
                            title: '이중 로그인 보안 설정',
                            message: msg,
                            callback: function() {
                                $a.request('/my/otpPassword/' + mode, {
                                    method: 'post',
                                    data: null, 
                                    success : function(res) {
                                        if (res.resultCd !== constants.result.SUCCESS) {
                                            commonPopup.alert({message: res.resultMsg});
                                            return false;
                                        }
                                        
                                        if (userTotp) {
                                            commonPopup.alert({
                                                message: '모바일 인증이 해제 되었습니다.',
                                                callback: function() {
                                                    location.reload();
                                                }
                                            });
                                        } else {
                                            commonPopup.alert({message: '모바일 인증이 설정 되었습니다.<br/>다음 로그인시 모바일 인증 설정을 해야만 상태가 변경됩니다.'});
                                        }
                                    },
                                    error : function(errObject) {
                                        //alert('처리 중 오류가 발생하였습니다. 잠시 후 다시 시도하세요.');
                                    }
                                })
                            }
                        });
                    }
                },
                event: {
                    init: function() {
                        $('#btnUpdatePassword').on('click', function() {
                            zcpPortalApp.data.updatePassword();
                        });

                        $('#btnTotp').on('click', function() {
                            zcpPortalApp.data.optPassword();
                        });
                    }
                }
            }
            
            $.alopex.page(function() {
                this.init = function(id, param) { 
                    zcpPortalApp.pageInit();
                };
            });
        </script>
        
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- location -->
            <th:block th:include="common/include/namespace :: common"></th:block>
            
            <div class="contents-box">
                <!-- service top area-->
                <div class="top-area">
                    <h2 class="title">비밀번호 변경</h2>
                    <div class="tag-wrap">
                        <span class="tag">비밀번호를 변경하거나 이중 로그인 보안을 설정할 수 있습니다.</span>
                    </div>
                </div>
                <!-- accordion wrap-->
                <ul class="Accordion cp-accordion">
                    <li>
                        <a>비밀번호 변경</a>
                        <div class="accor-contents__wrap">
                            <form th:id="form" onsubmit="return false;">
                                <fieldset>
                                    <table class="Table Form-type">
                                        <colgroup>
                                            <col style="width: 200px;"></col>
                                            <col></col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>현재 비밀번호<strong class="astertisk">*</strong></th>
                                                <td>
                                                    <input type="password" th:name="currentPassword" th:id="currentPassword" class="Textinput" maxlength="20" data-validation-rule="{required:true}" data-validation-message="{required:'현재 비밀번호를 입력해 주세요.'}" />
                                                    <p class="info-text" data-for="currentPassword"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>새 비밀번호<strong class="astertisk">*</strong></th>
                                                <td>
                                                    <input type="password" th:name="newPassword" th:id="newPassword" class="Textinput" maxlength="20" data-keyfilter-rule="digits|english" data-keyfilter="!@#$%^*_-" data-validation-rule="{required:true, passwordSecuity:true}" data-validation-message="{required:'비밀번호를 입력해 주세요.', passwordSecuity:'대문자 1자, 소문자 1자, 숫자 1자를 포함하여 8~20자 사이로 입력하세요.'}" />
                                                    <p class="info-text" data-for="newPassword"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>새 비밀번호 확인<strong class="astertisk">*</strong></th>
                                                <td>
                                                    <input type="password" th:name="passwordConfirm" th:id="passwordConfirm" class="Textinput" maxlength="20" data-validation-rule="{required:true, passwordEqual:'testing'}"  data-validation-message="{required:'새 비밀번호 확인을 입력해 주세요.', passwordEqual:'두개의 비밀번호가 일치하지 않습니다.'}" />
                                                    <p class="info-text" data-for="passwordConfirm"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-wrap__right">
                                        <button class="Button btn bg-red" id="btnUpdatePassword">확인</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a>이중 로그인 보안 설정</a>
                        <div class="accor-contents__wrap">
                            <table class="Table Form-type">
                                <colgroup>
                                    <col style="width: 200px;"></col>
                                    <col></col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>모바일 인증</th>
                                        <td>
                                            <div class="onoff-wrap" th:switch="${zcpUser.totp}">
                                                <button th:case="true" class="Button btn-on" id="btnTotp">ON</button>
                                                <button th:case="false" class="Button btn-off" id="btnTotp">OFF</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </th:block>
    </body>
</html>