<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>시작하기</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- location -->
            <div class="locations-area"></div>
            <div class="contents-box">
                <!-- service top area-->
                <div class="top-area">
                    <h2 class="title">시작하기</h2>
                    <div class="start-intro">
                        <h3 class="intro-big__title">Cloud Z Container Platform를 소개합니다.</h3>
                        <p class="intro-text">
                            Cloud Z CP(Container Platform)는 Container Orchestration Platform인 Kubernetes 기반 위에 다음 세가지 서비스를 하나의 패키지 형태로 제공하는 상품 입니다.
                        </p>
                        <br/>
                        <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Kubernetes 기반의 Container Platform Service <br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Container Lifecycle Management (Health Check, Self-Healing, Auto-Scaling 등)<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Kubernetes Cluster의 고 가용성 보장<br/>
						<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Cloud 기반 서비스 개발/운영을 위한 Add-on Service<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 개발을 위한 CI/CD, Private Image Registry, Helm Chart Catalog 등<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 운영을 위한 IAM,  Monitoring, Logging, Alert 등<br/>
						<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Platform 영역의 Managed Service<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Kubernetes Platform (Master + Worker Node) 영역<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Add-on Service 영역<br/>
                        </p>
                    </div>
                </div>
                <!-- service information -->
                <div class="intro-contents">
                    <h4 class="intro-sm__title">Add-on 서비스</h4>
                    <p class="intro-text">Cloud Z Container Platform에 Add-on 된 다양한 서비스를 통해 Container Platform의 시스템 및 서비스를 보다 쉽게 관리할 수 있습니다.</p>
                    <ul class="addon-list">
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>대시보드</dt>
                                <dd>Cloud Z CP 운영에 필요한 관리 및 모니터링 기능을 사용자에게 권한 별로 차별화하여 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>모니터링</dt>
                                <dd>모니터링 Metric 수집 및 처리하여 grafana에서 시각화하고, Kubernetes API를 통한 모니터링 대상(node, pod, service, endpoints, ingress)들을 자동 관리(등록/삭제) 해줍니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>로깅</dt>
                                <dd>컨테이너에서 수집되는 로그들을 필터링해서 Kibana에서 시각화하고, kibana의 Dashboard에서 수집된 로그들의 현황들을 파악 및 분석이 가능합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>알림</dt>
                                <dd>클러스터에서 발생하는 Node Down, Pod Restart, CPU/Memory Usage 등와 같은 필요한 알림들을 설정 및 관리할 수 있습니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>DevOps - 빌드 및 배포</dt>
                                <dd>Jenkins의 배포 Pipeline를 통한 자동화 빌드/배포를 지원하고,  서비스의 무중단 배포를 위해서 서비스 Downtime 최소화를 통한 효율화를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>DevOps - 소스저장소</dt>
                                <dd>git을 서비스하기 위한 gitea를 이용해서 소스들을 저장할 수 있는 저장소를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>Image Registry</dt>
                                <dd>Public 및 Private Registry를 통해서 Application의 이미지를 관리 할 수 있으며, 기 확보된 Image를 기반으로 즉시 활용 할 수 있는 체계를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>Catalog</dt>
                                <dd>Helm Chart로 package화 된 Kubernetes Application을 관리하기 위한 웹 기반 UI로 여러 저장소에서 사용 가능한 차트를 검색 및 클러스터에 설치할 수 있습니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img"></p>
                            <dl class="addon-detail">
                                <dt>Cloud Z DB</dt>
                                <dd>Cloud Z DB는 Dedicated Managed DBaaS 플랫폼으로서, 데이터베이스를 Cloud Z CP 상에 자동으로 배포하고 손쉽게 관리하는 기능을 제공합니다.</dd>
                            </dl>
                        </li>
                    </ul>
                    <!--following-->
                    <div class="follow-wrap">
                        <h3 class="intro-big__title">따라해보기</h3>
                        <div class="Tabs follow-tabs">
                            <div class="follow-name">나는</div>
                            <ul>
                                <li data-content="#tab1">클러스터 관리자</li>
                                <li data-content="#tab2">네임스페이스 관리자</li>
                                <li data-content="#tab3">아키텍트 / 개발자</li>
                            </ul>
                            <div id="tab1" class="follow-contents">
                                <p class="follow-maintitle">클러스터 관리자는 Cloud Z Container Platform 의 모든 기능을 이용할 수 있습니다.<br/>
                                네임스페이스 생성하고 사용자들이 이용할 수 있게 설정하는 과정을 따라해 보세요.</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01 신규 사용자 생성 하기</p>
                                        <dl class="step-desc">
                                            <dd>
                                            새로운 시스템 사용자를 바로 생성할 수 있고, 신규 사용자 가입 후 시스템 접근 권한을 부여할 수 있습니다.<br/> 
                                            <span class="color-red">ZCP 사이드 메뉴 > 설정 및 관리 > 사용자</span> 메뉴를 선택 합니다. <br/>
                                            <img src="images/guide/cluster-admin-01.png" data-th-src="@{/images/guide/cluster-admin-01.png}" width="630" /><br/>
                                            <br/>
                                            사용자 관리 화면 상단의 <span class="color-red">사용자 추가(아이콘)</span> 클릭합니다.<br/>
                                            <img src="images/guide/cluster-admin-02.png" data-th-src="@{/images/guide/cluster-admin-02.png}" width="630" /><br/>
                                            <br/>
                                            <span class="color-red">사용자 추가</span> 화면에서 <span class="color-red">필요한 정보를 입력 후 등록 버튼 클릭</span>합니다.<br/>
                                            <img src="images/guide/cluster-admin-03.png" data-th-src="@{/images/guide/cluster-admin-03.png}" width="630" /><br/>
                                            <br/>
                                            사용자 추가 창에서 <span class="color-red">확인 버튼 클릭</span>합니다.<br/>
                                            <img src="images/guide/cluster-admin-04.png" data-th-src="@{/images/guide/cluster-admin-04.png}" height="412" width="630" /><br/>
                                            <br/>
                                            사용자 목록에서 신규로 추가한 사용자 확인할 수 있습니다.<br/>
                                            <img src="images/guide/cluster-admin-05.png" data-th-src="@{/images/guide/cluster-admin-05.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02 사용자 정보 변경 하기</p>
                                        <dl class="step-desc">
                                            <dd>사용자가 생성되면 사용자 목록 화면에서 사용자 인증 처리, 보안 설정, 그리고 권한을 관리할 수 있는 기능을 제공합니다. <br/><br/></dd>
                                            <dt>기본 정보 변경 하기</dt>
                                            <dd>
                                            사용자 정보를 변경할 사용자를 선택합니다.<br/>
                                            <img src="images/guide/cluster-admin-06.png" data-th-src="@{/images/guide/cluster-admin-06.png}" width="630" /><br/>
                                            <br/>
                                            사용자 정보 확인 및 수정 합니다. <br/>
                                            <img src="images/guide/cluster-admin-07.png" data-th-src="@{/images/guide/cluster-admin-07.png}" width="630" /><br/>
                                            <br/>
                                            </dd>
                                            <dt>Credentials 설정 (암호 및 강제 인증 변경 설정, 알림)하기</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-08.png" data-th-src="@{/images/guide/cluster-admin-08.png}" width="630" /><br/><br/>
                                            </dd>
                                            <dt>접근 권한(Cluster 권한, Namespace권한) 부여하기</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-09.png" data-th-src="@{/images/guide/cluster-admin-09.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 03 사용자 상태 변경 및 인증/프로필 강제 설정 하기</p>
                                        <dl class="step-desc">
                                            <dd>미사용자 제어를 위해 사용자 상태 변경이 가능합니다. 또한 로그인시 다양한 인증 수단을 강제화 할 수 있도록 지정할 수 있습니다. </dd>
                                            <dd>보안 강화를 위해 다음 4가지 기능을 활용해 사용자에게 정보가 필수적으로 추가/변경 되도록 강제 할 수 있습니다. 
                                                <ul class="desc-list">
                                                    <li>이메일 인증</li>
                                                    <li>OTP(One Time Password)를 활용한 이중 로그인(2-Factor) 인증</li>
                                                    <li>비밀번호 강제 변경 인증</li>
                                                    <li>프로필 강제 업데이트 </li>
                                                </ul><br/>
                                                사용자 기본 정보 변경 메뉴의 하단 메뉴에서 강제로 설정 할 수 있습니다. 
                                                <img src="images/guide/cluster-admin-10.png" data-th-src="@{/images/guide/cluster-admin-10.png}" width="630" /><br/>
                                                <br/>
                                                각 버튼을 체크하면 사용자는 다음 로그인시 반드시 해당 변경 처리를 해야만 로그인 할 수 있습니다. 각 인증 수단 별로 다음과 같은 화면이 로그인시 표시됩니다.<br/><br/>
                                            </dd>
                                            <dt>비밀번호 변경 화면</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-11.png" data-th-src="@{/images/guide/cluster-admin-11.png}" width="630" /><br/>
                                            </dd>
                                            <dt>모바일인증 등록 화면</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-12.png" data-th-src="@{/images/guide/cluster-admin-12.png}" width="630" /><br/>
                                            </dd>
                                            <dt>프로필 변경 화면 </dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-13.png" data-th-src="@{/images/guide/cluster-admin-13.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2" class="follow-contents">
                                <p class="follow-maintitle">네임스페이스를 생성하고 사용자들이 이용할 수 있게 설정하는 과정을 따라해 보세요.</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01</p>
                                        <dl class="step-desc">
                                            <dt>네임스페이스 생성</dt>
                                            <dd><span class="color-red">설정 및 관리>메임스페이즈>네임스페이즈 추가</span> 메뉴를 통해 네임스페이스를 생성합니다. <br/>
                                                Resource Quota 와 Pod Default Limit Range 는 옵션값이며, 자세한 사항은 <a href="#">관련 문서</a>를 참조해주세요.</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02</p>
                                        <dl class="step-desc">
                                            <dt>네임스페이스 접근권한 설정</dt>
                                            <dd>네임스페이스가 정상적으로 생성이 되면, 상세 페이지의 멤버관리 (탭) 메뉴에서 멤버를 추가합니다.<br/>네임스페이스 권한은 platform admin 과 viewer 두 가지가 있으며, 권한에 따라 사용할 수 있는 기능이 달라집니다.</dd>
                                            <dd>
                                                <ul class="desc-list">
                                                    <li>platform admin : Lorem ipsum dolor sit amet, consectetur adipisc</li>
                                                    <li>viewer : Lorem ipsum dolor sit amet, consectetur adipisc</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab3" class="follow-contents">
                                <p class="follow-maintitle">시스템 및 서비스 개발 및 운영 담당자는 다양한 Add-on 서비스를 이용하여 애플리케이션</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01</p>
                                        <dl class="step-desc">
                                            <dt>Cluster 권한 및 네임스페이스 멤버 확인</dt>
                                            <dd>왼쪽 메뉴에서 안내 및 도움말 이외의 add-on 서비스 메뉴가 보이는지 확인 합니다. <br/>만약, 아무런 메뉴가 보이지 않는다면, 아직 cluster 권한이 설정되지 않은 상태입니다. cluster 권한을 먼저 부여 받아야 합니다.
                                                <ul class="desc-list">
                                                    <li>cluster 권한 요청 : 김마에 (admin@zcp.com, 1234)</li>
                                                </ul>
                                            </dd>
                                            <dd class="Padding-top-10">
                                                왼쪽 메뉴의 Cloud Z Container Platform 로고를 클릭했을 때, 네임스페이스의 상태를 보여주는 그래프가 나타나지 않으면, <br/>아직 어떠한 네임스페이스의 멤버가 되지 않은 상태입니다.
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02</p>
                                        <dl class="step-desc">
                                            <dt>기본 네임스페이스 설정</dt>
                                            <dd>상단 우측에 있는 이름을 클릭하여 나의 정보 메뉴로 이동하여 기본 네임스페이스를 설정합니다.<br/>만약 권한을 가진 네임스페이스가 한 개라면, 기본으로 설정되어 있습니다.</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 03</p>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 04</p>
                                        <dl class="step-desc">
                                            <dt>애플리케이션 빌드 및 배포</dt>
                                            <dd><span class="color-red">DevOps > 빌드 및 배포</span> 메뉴를 통해 어플리케이션을 배포합니다.</dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>