<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>시작하기</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
        .addon-img-dashboard {
		    text-align: center;
		    width: 100%;
		    height: 200px;
		    border: 1px solid #eeeeee;
		    background: url("../images/guide/1.dashboard.png") no-repeat;
		}
		.addon-img-monitoring {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/2.monitoring.png") no-repeat;
        }
        .addon-img-logging {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/3.logging.png") no-repeat;
        }
        .addon-img-alerting {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/4.alerting.png") no-repeat;
        }
        .addon-img-jenkins {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/5.jenkins.png") no-repeat;
        }
        .addon-img-gitea {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/6.gitea.png") no-repeat;
        }
        .addon-img-imageRegistry {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/7.imageRegistry.png") no-repeat;
        }
        .addon-img-catalog {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/8.catalog.png") no-repeat;
        }
        .addon-img-zdb {
            text-align: center;
            width: 100%;
            height: 200px;
            border: 1px solid #eeeeee;
            background: url("../images/guide/9.ZDB.png") no-repeat;
        }
        </style>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- location -->
            <div class="locations-area"></div>
            <div class="contents-box">
                <!-- service top area-->
                <div class="top-area">
                    <h2 class="title">시작하기</h2>
                    <div class="start-intro">
                        <h3 class="intro-big__title">Cloud Z Container Platform를 소개합니다.</h3>
                        <p class="intro-text">
                            Cloud Z CP(Container Platform)는 Container Orchestration Platform인 Kubernetes 기반 위에 다음 세가지 서비스를 하나의 패키지 형태로 제공하는 상품 입니다.
                        </p>
                        <br/>
                        <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Kubernetes 기반의 Container Platform Service <br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Container Lifecycle Management (Health Check, Self-Healing, Auto-Scaling 등)<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Kubernetes Cluster의 고 가용성 보장<br/>
						<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Cloud 기반 서비스 개발/운영을 위한 Add-on Service<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 개발을 위한 CI/CD, Private Image Registry, Helm Chart Catalog 등<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 운영을 위한 IAM,  Monitoring, Logging, Alert 등<br/>
						<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Platform 영역의 Managed Service<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Kubernetes Platform (Master + Worker Node) 영역<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Add-on Service 영역<br/>
                        </p>
                    </div>
                </div>
                <!-- service information -->
                <div class="intro-contents">
                    <h4 class="intro-sm__title">Add-on 서비스</h4>
                    <p class="intro-text">Cloud Z Container Platform에 Add-on 된 다양한 서비스를 통해 Container Platform의 시스템 및 서비스를 보다 쉽게 관리할 수 있습니다.</p>
                    <ul class="addon-list">
                        <li>
                            <p class="addon-img-dashboard"></p>
                            <dl class="addon-detail">
                                <dt>대시보드</dt>
                                <dd>Cloud Z CP 운영에 필요한 관리 및 모니터링 기능을 사용자에게 권한 별로 차별화하여 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-monitoring"></p>
                            <dl class="addon-detail">
                                <dt>모니터링</dt>
                                <dd>모니터링 Metric 수집 및 처리하여 grafana에서 시각화하고, Kubernetes API를 통한 모니터링 대상(node, pod, service, endpoints, ingress)들을 자동 관리(등록/삭제) 해줍니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-logging"></p>
                            <dl class="addon-detail">
                                <dt>로깅</dt>
                                <dd>컨테이너에서 수집되는 로그들을 필터링해서 Kibana에서 시각화하고, kibana의 Dashboard에서 수집된 로그들의 현황들을 파악 및 분석이 가능합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-alerting"></p>
                            <dl class="addon-detail">
                                <dt>알림</dt>
                                <dd>클러스터에서 발생하는 Node Down, Pod Restart, CPU/Memory Usage 등와 같은 필요한 알림들을 설정 및 관리할 수 있습니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-jenkins"></p>
                            <dl class="addon-detail">
                                <dt>DevOps - 빌드 및 배포</dt>
                                <dd>Jenkins의 배포 Pipeline를 통한 자동화 빌드/배포를 지원하고,  서비스의 무중단 배포를 위해서 서비스 Downtime 최소화를 통한 효율화를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-gitea"></p>
                            <dl class="addon-detail">
                                <dt>DevOps - 소스저장소</dt>
                                <dd>git을 서비스하기 위한 gitea를 이용해서 소스들을 저장할 수 있는 저장소를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-imageRegistry"></p>
                            <dl class="addon-detail">
                                <dt>Image Registry</dt>
                                <dd>Public 및 Private Registry를 통해서 Application의 이미지를 관리 할 수 있으며, 기 확보된 Image를 기반으로 즉시 활용 할 수 있는 체계를 제공합니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-catalog"></p>
                            <dl class="addon-detail">
                                <dt>Catalog</dt>
                                <dd>Helm Chart로 package화 된 Kubernetes Application을 관리하기 위한 웹 기반 UI로 여러 저장소에서 사용 가능한 차트를 검색 및 클러스터에 설치할 수 있습니다.</dd>
                            </dl>
                        </li>
                        <li>
                            <p class="addon-img-zdb"></p>
                            <dl class="addon-detail">
                                <dt>Cloud Z DB</dt>
                                <dd>Cloud Z DB는 Dedicated Managed DBaaS 플랫폼으로서, 데이터베이스를 Cloud Z CP 상에 자동으로 배포하고 손쉽게 관리하는 기능을 제공합니다.</dd>
                            </dl>
                        </li>
                    </ul>
                    <!--following-->
                    <div class="follow-wrap">
                        <h3 class="intro-big__title">따라해보기</h3>
                        <div class="Tabs follow-tabs">
                            <div class="follow-name">나는</div>
                            <ul>
                                <li data-content="#tab1">클러스터 관리자</li>
                                <li data-content="#tab2">네임스페이스 관리자</li>
                                <li data-content="#tab3">아키텍트 / 개발자</li>
                            </ul>
                            <div id="tab1" class="follow-contents">
                                <p class="follow-maintitle">클러스터 관리자는 Cloud Z Container Platform 의 모든 기능을 이용할 수 있습니다.<br/>
                                네임스페이스 생성하고 사용자들이 이용할 수 있게 설정하는 과정을 따라해 보세요.</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01 신규 사용자 생성 하기</p>
                                        <dl class="step-desc">
                                            <dd>
                                            새로운 시스템 사용자를 바로 생성할 수 있고, 신규 사용자 가입 후 시스템 접근 권한을 부여할 수 있습니다.<br/> 
                                            <span class="color-red">ZCP 사이드 메뉴 > 설정 및 관리 > 사용자</span> 메뉴를 선택 합니다. <br/>
                                            <img src="images/guide/cluster-admin-01.png" data-th-src="@{/images/guide/cluster-admin-01.png}" width="630" /><br/>
                                            <br/>
                                            사용자 관리 화면 상단의 <span class="color-red">사용자 추가(아이콘)</span> 클릭합니다.<br/>
                                            <img src="images/guide/cluster-admin-02.png" data-th-src="@{/images/guide/cluster-admin-02.png}" width="630" /><br/>
                                            <br/>
                                            <span class="color-red">사용자 추가</span> 화면에서 <span class="color-red">필요한 정보를 입력 후 등록 버튼 클릭</span>합니다.<br/>
                                            <img src="images/guide/cluster-admin-03.png" data-th-src="@{/images/guide/cluster-admin-03.png}" width="630" /><br/>
                                            <br/>
                                            사용자 추가 창에서 <span class="color-red">확인 버튼 클릭</span>합니다.<br/>
                                            <img src="images/guide/cluster-admin-04.png" data-th-src="@{/images/guide/cluster-admin-04.png}" height="412" width="630" /><br/>
                                            <br/>
                                            사용자 목록에서 신규로 추가한 사용자 확인할 수 있습니다.<br/>
                                            <img src="images/guide/cluster-admin-05.png" data-th-src="@{/images/guide/cluster-admin-05.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02 사용자 정보 변경 하기</p>
                                        <dl class="step-desc">
                                            <dd>사용자가 생성되면 사용자 목록 화면에서 사용자 인증 처리, 보안 설정, 그리고 권한을 관리할 수 있는 기능을 제공합니다. <br/><br/></dd>
                                            <dt>기본 정보 변경 하기</dt>
                                            <dd>
                                            사용자 정보를 변경할 사용자를 선택합니다.<br/>
                                            <img src="images/guide/cluster-admin-06.png" data-th-src="@{/images/guide/cluster-admin-06.png}" width="630" /><br/>
                                            <br/>
                                            사용자 정보 확인 및 수정 합니다. <br/>
                                            <img src="images/guide/cluster-admin-07.png" data-th-src="@{/images/guide/cluster-admin-07.png}" width="630" /><br/>
                                            <br/>
                                            </dd>
                                            <dt>Credentials 설정 (암호 및 강제 인증 변경 설정, 알림)하기</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-08.png" data-th-src="@{/images/guide/cluster-admin-08.png}" width="630" /><br/><br/>
                                            </dd>
                                            <dt>접근 권한(Cluster 권한, Namespace권한) 부여하기</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-09.png" data-th-src="@{/images/guide/cluster-admin-09.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 03 사용자 상태 변경 및 인증/프로필 강제 설정 하기</p>
                                        <dl class="step-desc">
                                            <dd>미사용자 제어를 위해 사용자 상태 변경이 가능합니다. 또한 로그인시 다양한 인증 수단을 강제화 할 수 있도록 지정할 수 있습니다. </dd>
                                            <dd>보안 강화를 위해 다음 4가지 기능을 활용해 사용자에게 정보가 필수적으로 추가/변경 되도록 강제 할 수 있습니다. 
                                                <ul class="desc-list">
                                                    <li>이메일 인증</li>
                                                    <li>OTP(One Time Password)를 활용한 이중 로그인(2-Factor) 인증</li>
                                                    <li>비밀번호 강제 변경 인증</li>
                                                    <li>프로필 강제 업데이트 </li>
                                                </ul><br/>
                                                사용자 기본 정보 변경 메뉴의 하단 메뉴에서 강제로 설정 할 수 있습니다. 
                                                <img src="images/guide/cluster-admin-10.png" data-th-src="@{/images/guide/cluster-admin-10.png}" width="630" /><br/>
                                                <br/>
                                                각 버튼을 체크하면 사용자는 다음 로그인시 반드시 해당 변경 처리를 해야만 로그인 할 수 있습니다. 각 인증 수단 별로 다음과 같은 화면이 로그인시 표시됩니다.<br/><br/>
                                            </dd>
                                            <dt>비밀번호 변경 화면</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-11.png" data-th-src="@{/images/guide/cluster-admin-11.png}" width="630" /><br/>
                                            </dd>
                                            <dt>모바일인증 등록 화면</dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-12.png" data-th-src="@{/images/guide/cluster-admin-12.png}" width="630" /><br/>
                                            </dd>
                                            <dt>프로필 변경 화면 </dt>
                                            <dd>
                                                <img src="images/guide/cluster-admin-13.png" data-th-src="@{/images/guide/cluster-admin-13.png}" width="630" /><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2" class="follow-contents">
                                <p class="follow-maintitle">ZCP의 기반이 되는 Kubernetes는 동일한 물리적 클러스터에 의해 지원되는 여러 개의 가상 클러스터를 지원합니다. 이러한 가상 클러스터를 네임스페이스라고 합니다. 네임스페이스를 생성하고 사용자들이 이용할 수 있게 설정하는 과정을 따라해 보세요.</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01</p>
                                        <dl class="step-desc">
                                            <dt>네임스페이스를 생성하세요.</dt>
                                            <dd><span class="color-red">설정 및 관리 > 네임스페이스 > Namespace 추가</span> 에서 네임스페이스를 생성합니다. </dd>
                                            <dd><p class="addon-img" style="width:800px; height:400px"><img src="/images/guide/create-namespace.png" style="border:0px; width:800px; height:400px"/></p></dd>
                                            <dd>
                                            	1. <span class="color-red">설정 및 관리 > 네임스페이스</span> 로 이동합니다. <br/>
                                            	2. 오른쪽 상단에 있는  을 클릭하거나 카드 형태로 보기일 때는 마지막 카드 다음에 있는 <span class="color-red">+ Namespace 추가</span> 를 클릭합니다. <br/>
                                            	3. Namespace 추가 화면이 나타나면 다음 정보를 입력합니다. <br/>
                                            </dd>
                                            <dd><p class="addon-img" style="width:800px; height:400px"><img src="/images/guide/add-namespace02.png" style="border:0px; width:800px; height:400px"/></p></dd>
                                            <dd>
                                                <ul class="desc-list">
                                                    <li>Namespace 명: Namespace를 구분하기 위한 고유의 값입니다.</li>
                                                    <li>Resource Quotas: 각 항목에 대한 상세 정보는 Resource Quotas를 참고하세요.</li>
                                                    <li>Pod Default Limit Range: 각 항목에 대한 상세 정보는 Pod Default Limit Range를 참고하세요.</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02</p>
                                        <dl class="step-desc">
                                            <dt>네임스페이스에 멤버를 추가하고 접근권한을 설정하세요.</dt>
                                            <dd>네임스페이스가 정상적으로 생성이 되면 생성된 네임스페이스 링크를 클릭하고 나타나는 화면에서 멤버관리 탭에서 멤버를 추가하고 접근 권한을 설정합니다.</dd>
                                            <dd><p class="addon-img" style="width:800px; height:400px"><img src="/images/guide/member-manging.png" style="border:0px; width:800px; height:400px"/></p></dd>
                                            <dd>
                                            	1. 멤버 목록 아래에 있는 <span class="color-red">멤버 추가</span> 버튼을 클릭합니다. <br/>
                                            	2. 멤버 추가 목록이 나타나면 멤버 추가 목록 상단에 추가하려면 멤버 검색어를 입력하고 을 클릭합니다. <br/>
                                            	3. Namespace 권한을 변경하고 <span class="color-red">추가</span> 열에 있는 을 클릭합니다. <br/>
                                            </dd>
                                            <dd>각 권한에 대한 설명은 다음과 같습니다:</dd>
                                            <dd>좀 더 상세한 내용은 Using RBAC Authorization의 <span class="color-red">User-facing Roles</span> 를 참고하세요.</dd>
									   </dl>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab3" class="follow-contents">
                                <p class="follow-maintitle">시스템 및 서비스 개발 및 운영 담당자는 다양한 Add-on 서비스를 이용하여 애플리케이션</p>
                                <ul class="step-wrap">
                                    <li>
                                        <p class="step-num">STEP 01 kubectl Command 사용하기</p>
                                        <dl class="step-desc">
                                            <dt>kubectl 설치</dt>
                                            <dd>
                                                kubectl은 Kubernetes에 접속하여 어플리케이션 배포, 설정 등 다양한 동작을 실행하는 명령어 입니다.<br/>
                                                본 문서에서는 Windows 환경에서 binary 방식으로 설치하는 방법을 가이드 합니다.<br/>
                                                <ul class="desc-list">
                                                    <li><a href="https://kubernetes.io/docs/tasks/tools/install-kubectl" target="_blank">https://kubernetes.io/docs/tasks/tools/install-kubectl</a></li>
                                                </ul>
                                            </dd>
                                            <dd class="Padding-top-10">
                                                먼저 아래 링크의 최신 kubectl.exe 파일을 c:\kube 폴더에 다운로드 합니다.<br/>
                                                <ul class="desc-list">
                                                    <li><a href="https://storage.googleapis.com/kubernetes-release/release/v1.11.0/bin/windows/amd64/kubectl.exe" target="_blank">https://storage.googleapis.com/kubernetes-release/release/v1.11.0/bin/windows/amd64/kubectl.exe</a></li>
                                                </ul>
                                            </dd>
                                            <dd class="Padding-top-10">
                                                cmd 창을 열고 <span class="color-red">c:\kube</span> 폴더로 이동해 <span class="color-red">kubectl version -c</span> 명령을 확인합니다. <br/>
                                                <img src="images/guide/developer-01.png" data-th-src="@{/images/guide/developer-01.png}" /><br/><br/>
                                            </dd>
                                            <dt>kubectl 설정</dt>
                                            <dd>
                                                생성된 클러스터에 접속하기 위해서는 클러스터 서버정보, 인증토큰 등 관련 설정이 필요합니다.<br/>
                                                이러한 접속설정은 CloudZ CP 콘솔에서 다운로드 가능합니다. 우측 상단의 드롭다운 목록에서 CLI Command 를 선택합니다.<br/>
                                                <img src="images/guide/developer-02.png" data-th-src="@{/images/guide/developer-02.png}" /><br/><br/>
                                                CLI Command 화면에서 2단계의 다운로드 버튼을 클릭합니다.<br/>
                                                파일 이름은 <span class="color-red">kube.conf</span> 파일로 변경하고 <span class="color-red">c:\kube</span>  폴더에 다운로드 합니다.
                                                <img src="images/guide/developer-03.png" data-th-src="@{/images/guide/developer-03.png}" /><br/><br/>
                                                <img src="images/guide/developer-04.png" data-th-src="@{/images/guide/developer-04.png}" /><br/><br/>
                                                
                                                다운로드한 kube.conf 파일을 활성화 하기 위해 set KUBECONFIG=kube.conf 명령을 수행합니다.<br/>
                                                kubectl version을 사용하여 클라이언트와 서버 정보가 정상적으로 출력되는지 확인합니다.<br/>
                                                <img src="images/guide/developer-05.png" data-th-src="@{/images/guide/developer-05.png}" /><br/><br/>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 02 Gitea 에 소스 올리기</p>
                                        <dl class="step-desc">
                                            <dt>Gitea 통합로그인 설정</dt>
                                            <dd>DevOps > 소스 저장소 메뉴를 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-06.png" data-th-src="@{/images/guide/developer-06.png}" /><br/><br/></dd>
                                            <dd>아래의 화면에서 최초 1회, 소스 저장소에 회원가입을 합니다. 앞으로 별도의 로그인 없이 접속이 가능합니다.</dd>
                                            <dd>비밀번호는 Push 등 저장소 활용시 사용되므로 분실하지 않도록 주의합니다.</dd>
                                            <dd><img src="images/guide/developer-07.png" data-th-src="@{/images/guide/developer-07.png}" /><br/></dd>
                                            <dd>회원가입이 완료되면 OpenId Connect 이미지를 클릭하여 로그인 합니다.<br/></dd>
                                            <dd><img src="images/guide/developer-08.png" data-th-src="@{/images/guide/developer-08.png}" /><br/><br/></dd>
                                            <dt>샘플 프로젝트 생성</dt>
                                            <dd><img src="images/guide/developer-09.png" data-th-src="@{/images/guide/developer-09.png}" /><br/></dd>
                                            <dd>미리 Github에 공개된 아래의 샘플 프로젝트 주소를 입력합니다.<br/>
                                                <ul class="desc-list">
                                                    <li><a href="https://git.cloudzcp.io/developer02/sample.git" target="_blank">https://git.cloudzcp.io/developer02/sample.git</a></li>
                                                </ul>
                                            </dd>
                                            <dd>새로 생성될 저장소의 이름을 입력하고 저장소 마이그레이션 버튼을 클릭합니다.</dd>
                                            <dd>비공개 저장소를 선택하면, 프로젝트의 멤버로 등록된 사용자만 조회, 수정이 가능합니다.</dd>
                                            <dd>이후 프로젝트 설정 화면에서 가시성 여부를 변경 할 수 있습니다.</dd>
                                            <dd><img src="images/guide/developer-10.png" data-th-src="@{/images/guide/developer-10.png}" /><br/><br/></dd>
                                            
                                            <dd>모든 작업을 완료하면 아래와 같이 샘플 프로젝트가 생성된 것을 확인 할 수 있습니다.</dd>
                                            <dd>사용법은 Github과 유사하며 웹 화면에서 직접 파일을 생성하거나, 로컬로 체크아웃 하여 작업 할 수 있습니다.</dd>
                                            <dd><img src="images/guide/developer-11.png" data-th-src="@{/images/guide/developer-11.png}" /><br/></dd>
                                       </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 03 Public Repository 생성하기</p>
                                        <dl class="step-desc">
                                            <dt>Public Repository 생성하기</dt>
                                            <dd>Image Registry 메뉴를 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-12.png" data-th-src="@{/images/guide/developer-12.png}" /><br/></dd>
                                            <dd>Harbor 좌측 하단의 Sign up for an account 메뉴를 클릭하여 계정을 생성하고, Harbor 에 로그인합니다.</dd>
                                            <dd><img src="images/guide/developer-13.png" data-th-src="@{/images/guide/developer-13.png}" /><br/></dd>
                                            <dt>Public Project 생성</dt>
                                            <dd>Projects 메뉴를 선택하고 NEW PROJECT 버튼을 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-14.png" data-th-src="@{/images/guide/developer-14.png}" /><br/></dd>
                                            <dd>Project Name 을 입력하고 Public 의 메뉴를 체크한 후 OK 버튼을 클릭합니다.</dd>
                                            <dd>Access level 의 Public 을 check 하면 누구나 인증 절차 없이 해당 Project 의 이미지를 pull 할 수 있습니다.</dd>
                                            <dd><img src="images/guide/developer-15.png" data-th-src="@{/images/guide/developer-15.png}" /><br/></dd>
                                            <dd>Project 가 생성된 모습입니다.</dd>
                                            <dd><img src="images/guide/developer-16.png" data-th-src="@{/images/guide/developer-16.png}" /><br/></dd>
                                            <dd>Project 명을 클릭하고, 우측의 PUSH IMAGE 메뉴를 클릭하면 이 프로젝트에 Image 를 올리는 docker command 를 확인할 수 있습니다.</dd>
                                            <dd><img src="images/guide/developer-17.png" data-th-src="@{/images/guide/developer-17.png}" /><br/></dd>
                                       </dl>
                                    </li>
                                    <li>
                                        <p class="step-num">STEP 04 Jenkins 로 배포하기</p>
                                        <dl class="step-desc">
                                            <dt>Jenkins 접속하기</dt>
                                            <dd>DevOps > 빌드 및 배포 메뉴를 선택합니다.</dd>
                                            <dd><img src="images/guide/developer-18.png" data-th-src="@{/images/guide/developer-18.png}" /><br/></dd>
                                            <dd>자신의 Namespace 와 동일한 Folder 를 선택합니다.</dd>
                                            <dd>만약 동일한 Folder 가 보이지 않으면 Cluster admin 에게 요청하여 권한을 할당받아야 합니다.</dd>
                                            <dd><img src="images/guide/developer-19.png" data-th-src="@{/images/guide/developer-19.png}" /><br/></dd>
                                            
                                            <dt>Credentials 생성하기</dt>
                                            <dd>Jenkins 가 Gitea 의 소스를 Checkout 받고, Docker registry 에 push 를 하려면 각 시스템에 로그인하기 위한 인증 정보가 필요합니다.</dd>
                                            <dd>자신의 Folder 에 들어가서 좌측의 Credentials 메뉴를 클릭합니다.</dd>
                                            <dd>Credentials 하위의 Folder 를 선택하고 Global credentials 를 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-20.png" data-th-src="@{/images/guide/developer-20.png}" /><br/></dd>
                                            <dd><img src="images/guide/developer-21.png" data-th-src="@{/images/guide/developer-21.png}" /><br/></dd>
                                            <dd>좌측의 Add Credentials 메뉴를 선택하고, Step 02 에서 생성한 Gitea 의 ID, Password 를 입력하여 Credential 정보를 생성합니다.</dd>
                                            <dd>ID, Description 은 식별이 용이하도록 입력합니다.</dd>
                                            <dd><img src="images/guide/developer-22.png" data-th-src="@{/images/guide/developer-22.png}" /><br/></dd>
                                            <dd>동일하게 Docker Registry 계정도 생성합니다.</dd>
                                            <dd>Gitea, Docker 두 Credentials 를 모두 생성한 화면입니다.</dd>
                                            <dd><img src="images/guide/developer-23.png" data-th-src="@{/images/guide/developer-23.png}" /><br/><br/></dd>
                                            <dt>Jenkins Pipeline 생성하기</dt>
                                            <dd>좌측의 New Item 또는 중앙의 새 작업을 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-24.png" data-th-src="@{/images/guide/developer-24.png}" /><br/></dd>
                                            <dd>Pipeline 이름을 입력하고, Pipeline 을 선택한 뒤 OK 버튼을 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-25.png" data-th-src="@{/images/guide/developer-25.png}" /><br/></dd>
                                            <dd>생성된 Pipeline Job의 구성 화면이 표시되면 General > Properties Content 영역에 아래 설정을 입력합니다.</dd>
                                            <dd><img src="images/guide/developer-26.png" data-th-src="@{/images/guide/developer-26.png}" /><br/></dd>
                                            <dd>마지막으로, 아래의 파이프라인 코드를 입력하고 저장 버튼을 클릭합니다.</dd>
                                            <dd><img src="images/guide/developer-27.png" data-th-src="@{/images/guide/developer-27.png}" /><br/><br/></dd>
                                            <dt>Jenkins Pipeline 실행하기</dt>
                                            <dd>파이프라인이 완성되면 Job 상태 화면으로 이동됩니다. Job을 실행하기 위해 화면 좌측의 Build Now 버튼을 클릭합니다.</dd>
                                            <dd>빌드가 실행되면 하단의 Build History 화면에서 실행중인 Job을 확인 할 수 있습니다.</dd>
                                            <dd><img src="images/guide/developer-29.png" data-th-src="@{/images/guide/developer-29.png}" /><br/><br/></dd>
                                            <dd><img src="images/guide/developer-28.png" data-th-src="@{/images/guide/developer-28.png}" /><br/><br/></dd>
                                            <dd>Job 실행이 완료되면 아래의 주소에 접속하여 배포된 어플리케이션을 확인 할 수 있습니다.
                                                <ul class="desc-list">
                                                    <li><a href="http://sample.cloudzcp.io/" target="_blank">http://sample.cloudzcp.io/</a></li>
                                                </ul>
                                            </dd>
                                       </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>